node-red/.flows_inverterpi.json.backup
[{"id":"f12bc43.5250638","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c1a6078a.fc7988","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"27b64130.e9e2ee","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"5e4493fc.f24d8c","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b321d4ef.fa1af8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"test","tz":""},{"id":"a595dbc0.c14ba8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"d0a24c19.5da29","type":"ui_group","z":"","name":"Default","tab":"a595dbc0.c14ba8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b24a0c80.3cfae","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ed3e79e3.611cb8","type":"modbus-client","z":"","name":"Midnite MPPT","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.2.2","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"f73fc9c9.0247a8","type":"ui_tab","z":"","name":"Battery","icon":"dashboard","order":2},{"id":"14d6b697.8ce8c9","type":"ui_group","name":"Group 2","tab":"a595dbc0.c14ba8","order":2,"disp":true,"width":6},{"id":"6c2e0b23.07c704","type":"ui_group","name":"Group 3","tab":"a595dbc0.c14ba8","order":4,"disp":true,"width":6},{"id":"6e2fc5dd.7a218c","type":"ui_group","name":"Group 4","tab":"a595dbc0.c14ba8","order":3,"disp":true,"width":6},{"id":"d2c1f45a.9b7c98","type":"ui_group","name":"Group 5","tab":"a595dbc0.c14ba8","order":5,"disp":true,"width":6},{"id":"d2404bf7.c1ded8","type":"ui_group","name":"Group 6","tab":"a595dbc0.c14ba8","order":6,"disp":true,"width":6},{"id":"45f27d87.c42134","type":"ui_group","z":"","name":"LED Testing","tab":"eb0ab4ef.ee3fa8","disp":true,"width":"4"},{"id":"eb0ab4ef.ee3fa8","type":"ui_tab","name":"Tab","icon":"dashboard","order":0},{"id":"75edb0ae.2649e","type":"ui_group","name":"Group 7","tab":"a595dbc0.c14ba8","order":7,"disp":true,"width":6},{"id":"bb012999.eb10e8","type":"ui_group","z":"","name":"Cell Voltages","tab":"f73fc9c9.0247a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"e3180855.bcc1c8","type":"ui_tab","z":"","name":"Midnite","icon":"dashboard"},{"id":"e218958a.c25258","type":"ui_group","z":"","name":"Default","tab":"e3180855.bcc1c8","disp":true,"width":"6","collapse":false},{"id":"21831207.b5003e","type":"ui_group","z":"","name":"General","tab":"f73fc9c9.0247a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"fe15ca01.e613f8","type":"ui_group","z":"","name":"Internal Resistances","tab":"f73fc9c9.0247a8","disp":true,"width":"6","collapse":false},{"id":"5df915d0.0bcbec","type":"ui_group","z":"","name":"Open Cell Voltages","tab":"f73fc9c9.0247a8","disp":true,"width":"6","collapse":true},{"id":"50df611a.ffa6a","type":"mqtt in","z":"f12bc43.5250638","name":"","topic":"InverterCtrl/Inverter_State","qos":"2","broker":"5e4493fc.f24d8c","x":150,"y":200,"wires":[["fad3ff3d.fe9d5","5c9b6a21.bd4f64"]]},{"id":"fad3ff3d.fe9d5","type":"ui_switch","z":"f12bc43.5250638","name":"","label":"Inverter","group":"d0a24c19.5da29","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"True","onvalueType":"str","onicon":"","oncolor":"","offvalue":"False","offvalueType":"str","officon":"","offcolor":"","x":360,"y":200,"wires":[["3914d60a.9c36ea","9d16c17f.4c73f"]]},{"id":"3914d60a.9c36ea","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"InverterCtrl/Inverter_State/Set","qos":"2","retain":"true","broker":"5e4493fc.f24d8c","x":610,"y":200,"wires":[]},{"id":"dd872446.79fb28","type":"debug","z":"f12bc43.5250638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":740,"wires":[]},{"id":"a1b7d49f.9837b8","type":"mqtt in","z":"f12bc43.5250638","name":"","topic":"Remote/+/IOMap","qos":"2","broker":"5e4493fc.f24d8c","x":120,"y":800,"wires":[["12c5e06f.bf024","811c0c24.f753a"]]},{"id":"12c5e06f.bf024","type":"debug","z":"f12bc43.5250638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":320,"y":800,"wires":[]},{"id":"811c0c24.f753a","type":"json","z":"f12bc43.5250638","name":"","property":"payload","action":"","pretty":false,"x":290,"y":760,"wires":[["dd872446.79fb28"]]},{"id":"106bb9e5.c436b6","type":"mqtt in","z":"f12bc43.5250638","name":"DC_volts","topic":"Inverter/DC_volts/Human","qos":"2","broker":"5e4493fc.f24d8c","x":235,"y":950,"wires":[["258422b5.ab28ae"]]},{"id":"258422b5.ab28ae","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"6c2e0b23.07c704","order":1,"width":0,"height":0,"gtype":"gage","title":"DC Voltage","label":"Volts","format":"{{value}}","min":"44","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":907,"wires":[]},{"id":"68001916.855828","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"6e2fc5dd.7a218c","order":1,"width":0,"height":0,"gtype":"gage","title":"AC in","label":"Volts","format":"{{value}}","min":"90","max":"240","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":532,"y":1043,"wires":[]},{"id":"1de39026.526bc","type":"mqtt in","z":"f12bc43.5250638","name":"AC_volts_in","topic":"Inverter/AC_Volts_in/Human","qos":"2","broker":"5e4493fc.f24d8c","x":240,"y":1032,"wires":[["68001916.855828"]]},{"id":"b44665fb.5110f8","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"14d6b697.8ce8c9","order":1,"width":0,"height":0,"gtype":"gage","title":"AC Out","label":"Volts","format":"{{value}}","min":"90","max":"130","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":549,"y":1141,"wires":[]},{"id":"82dac1f8.0fd4e","type":"mqtt in","z":"f12bc43.5250638","name":"AC_volts_out","topic":"Inverter/AC_volts_out/Human","qos":"2","broker":"5e4493fc.f24d8c","x":228,"y":1131,"wires":[["b44665fb.5110f8"]]},{"id":"c63bc218.1671b","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"6c2e0b23.07c704","order":2,"width":0,"height":0,"gtype":"gage","title":"DC Current","label":"Amps","format":"{{value}}","min":"0","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":738,"y":1011,"wires":[]},{"id":"5485d828.ea6278","type":"mqtt in","z":"f12bc43.5250638","name":"DC_amps","topic":"Inverter/DC_amps/Human","qos":"2","broker":"5e4493fc.f24d8c","x":233,"y":996,"wires":[["c63bc218.1671b"]]},{"id":"c905f2c5.47c8f","type":"mqtt in","z":"f12bc43.5250638","name":"Inverter_Status","topic":"Inverter/Inverter_Status/Human","qos":"2","broker":"5e4493fc.f24d8c","x":200,"y":140,"wires":[["fa7cea9f.0f3c38"]]},{"id":"fa7cea9f.0f3c38","type":"ui_text","z":"f12bc43.5250638","group":"d0a24c19.5da29","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":140,"wires":[]},{"id":"ff1d42f.16853c","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"14d6b697.8ce8c9","order":2,"width":0,"height":0,"gtype":"gage","title":"AC Current Out","label":"Amps","format":"{{value}}","min":"0","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":556,"y":1189,"wires":[]},{"id":"f47e7681.628f88","type":"mqtt in","z":"f12bc43.5250638","name":"AC_amps_out","topic":"Inverter/AC_amps_out/Human","qos":"2","broker":"5e4493fc.f24d8c","x":234,"y":1178,"wires":[["ff1d42f.16853c"]]},{"id":"dcc379fe.701918","type":"mqtt in","z":"f12bc43.5250638","name":"","topic":"InverterCtrl/Charger_State","qos":"2","broker":"5e4493fc.f24d8c","x":130,"y":320,"wires":[["176e5231.fe748e"]]},{"id":"176e5231.fe748e","type":"ui_switch","z":"f12bc43.5250638","name":"","label":"Charger","group":"d0a24c19.5da29","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"True","onvalueType":"str","onicon":"","oncolor":"","offvalue":"False","offvalueType":"str","officon":"","offcolor":"","x":360,"y":320,"wires":[["c63a7c39.40657"]]},{"id":"c63a7c39.40657","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"InverterCtrl/Charger_State/Set","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":650,"y":320,"wires":[]},{"id":"d6818b.4c4f5e78","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"6e2fc5dd.7a218c","order":2,"width":0,"height":0,"gtype":"gage","title":"AC Current in","label":"Amps","format":"{{value}}","min":"0","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":554,"y":1096,"wires":[]},{"id":"b37098f2.e49668","type":"mqtt in","z":"f12bc43.5250638","name":"AC_amps_in","topic":"Inverter/AC_amps_in/Human","qos":"2","broker":"5e4493fc.f24d8c","x":232,"y":1085,"wires":[["d6818b.4c4f5e78"]]},{"id":"d6258df6.3883e","type":"mqtt in","z":"f12bc43.5250638","name":"Remote Hours","topic":"Remote/Hours","qos":"2","broker":"5e4493fc.f24d8c","x":770,"y":140,"wires":[["c5d84004.90bef"]]},{"id":"c5d84004.90bef","type":"ui_text","z":"f12bc43.5250638","group":"d0a24c19.5da29","order":2,"width":"2","height":"1","name":"hour","label":"Time","format":"{{msg.payload}}","layout":"row-right","x":930,"y":140,"wires":[]},{"id":"4a62f33d.9e320c","type":"ui_text","z":"f12bc43.5250638","group":"d0a24c19.5da29","order":3,"width":"2","height":"1","name":"Minutes","label":":","format":"{{msg.payload}}","layout":"row-left","x":1040,"y":180,"wires":[]},{"id":"bb670293.b9dc8","type":"mqtt in","z":"f12bc43.5250638","name":"Remote Minutes","topic":"Remote/Minutes","qos":"2","broker":"5e4493fc.f24d8c","x":860,"y":180,"wires":[["4a62f33d.9e320c"]]},{"id":"403511ac.92aab","type":"ui_numeric","z":"f12bc43.5250638","name":"","label":"{{msg.topic}}","group":"d0a24c19.5da29","order":10,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"10","step":"1","x":634,"y":1501,"wires":[["385efc51.f90034","d9e26b87.d73b28"]]},{"id":"385efc51.f90034","type":"debug","z":"f12bc43.5250638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":787,"y":1545,"wires":[]},{"id":"4c5b29a6.dfd9c8","type":"mqtt in","z":"f12bc43.5250638","name":"AC_shore_amps","topic":"Remote/AC_shore_amps/IOMap","qos":"2","broker":"5e4493fc.f24d8c","x":113,"y":1528,"wires":[["f8a6e702.f0ed68"]]},{"id":"f8a6e702.f0ed68","type":"json","z":"f12bc43.5250638","name":"","property":"payload","action":"","pretty":false,"x":283,"y":1569,"wires":[["f3d1cd87.eaeec"]]},{"id":"f3d1cd87.eaeec","type":"function","z":"f12bc43.5250638","name":"json to numeric","func":"var current=parseFloat(msg.payload['Current']);\nvar scale=parseFloat(msg.payload['Scale']);\nvar steps=parseFloat(msg.payload['Steps']);\nvar max=parseFloat(msg.payload['Max']) * scale;\nvar min=parseFloat(msg.payload['Min']) * scale;\nvar topic = msg.topic.split(\"/\");\n\nvar newmsg = msg;\nnewmsg.payload = current;\nnewmsg.topic = topic[1];\nnewmsg._topic = topic[1];\nnewmsg.ui_control = {\"min\":min, \"max\":max, \"step\":steps};\n\n\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":441,"y":1514,"wires":[["403511ac.92aab"]]},{"id":"d70b37a9.87a938","type":"debug","z":"f12bc43.5250638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":1440,"wires":[]},{"id":"c9ff105e.00598","type":"debug","z":"f12bc43.5250638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":596,"y":1792,"wires":[]},{"id":"685609cb.797758","type":"json","z":"f12bc43.5250638","name":"","property":"payload","action":"","pretty":false,"x":270,"y":1758,"wires":[["987527f0.849ce8","c9ff105e.00598"]]},{"id":"2dd5ca36.135f36","type":"ui_numeric","z":"f12bc43.5250638","name":"","label":"{{msg.topic}}","group":"d0a24c19.5da29","order":11,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"10","step":"1","x":621,"y":1690,"wires":[["50ae6466.be2adc","2e5cb53a.3eeeda"]]},{"id":"91271a74.5ad2a8","type":"mqtt in","z":"f12bc43.5250638","name":"Charger_Amps","topic":"Remote/Charger_Amps/IOMap","qos":"2","broker":"5e4493fc.f24d8c","x":100,"y":1717,"wires":[["685609cb.797758"]]},{"id":"50ae6466.be2adc","type":"debug","z":"f12bc43.5250638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":774,"y":1734,"wires":[]},{"id":"987527f0.849ce8","type":"function","z":"f12bc43.5250638","name":"json to numeric","func":"var current=parseFloat(msg.payload['Current']);\nvar scale=parseFloat(msg.payload['Scale']);\nvar steps=parseFloat(msg.payload['Steps']);\nvar max=parseFloat(msg.payload['Max']) * scale;\nvar min=parseFloat(msg.payload['Min']) * scale;\nvar topic = msg.topic.split(\"/\");\n\nvar newmsg = msg;\nnewmsg.payload = (current * scale).toFixed(1);\nnewmsg.topic = topic[1];\nnewmsg._topic = topic[1];\nnewmsg.ui_control = {\"min\":min, \"max\":max, \"step\":steps};\n\n\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":436,"y":1706,"wires":[["2dd5ca36.135f36","c9ff105e.00598"]]},{"id":"4449bc2a.daa0e4","type":"mqtt in","z":"f12bc43.5250638","name":"Float_Volts","topic":"Remote/Float_Volts/IOMap","qos":"2","broker":"5e4493fc.f24d8c","x":85,"y":1889,"wires":[["daafcb41.16c2d8"]]},{"id":"daafcb41.16c2d8","type":"json","z":"f12bc43.5250638","name":"","property":"payload","action":"","pretty":false,"x":275,"y":1930,"wires":[["f6b38c48.128ae"]]},{"id":"f6b38c48.128ae","type":"function","z":"f12bc43.5250638","name":"json to numeric","func":"var current=parseInt(msg.payload['Current']);\nvar scale=parseFloat(msg.payload['Scale']);\nvar steps=parseFloat(msg.payload['Steps']);\nvar max=parseFloat(msg.payload['Max']) * scale;\nvar min=parseFloat(msg.payload['Min']) * scale;\nvar topic = msg.topic.split(\"/\");\n\nvar newmsg = msg;\nnewmsg.payload = (current * scale).toFixed(1);\nnewmsg.topic = topic[1];\nnewmsg._topic = topic[1];\nnewmsg.ui_control = {\"min\":min, \"max\":max, \"step\":steps};\n\n\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":441,"y":1878,"wires":[["784e1d1.7cccde4","7909c634.dc7248"]]},{"id":"784e1d1.7cccde4","type":"ui_numeric","z":"f12bc43.5250638","name":"","label":"Float_volts","group":"d2404bf7.c1ded8","order":1,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value | number:1}}","min":0,"max":"10","step":"1","x":636,"y":1862,"wires":[["7909c634.dc7248","7aa0ef32.aaf97"]]},{"id":"7909c634.dc7248","type":"debug","z":"f12bc43.5250638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":558,"y":1948,"wires":[]},{"id":"7aa0ef32.aaf97","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/Float_Volts/Human","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":861,"y":1918,"wires":[]},{"id":"3aeef698.20f2aa","type":"rpi-gpio out","z":"f12bc43.5250638","name":"","pin":"13","set":"","level":"0","freq":"","out":"out","x":560,"y":2520,"wires":[]},{"id":"605aa711.43ed18","type":"ui_switch","z":"f12bc43.5250638","name":"","label":"BMS Charge","group":"d0a24c19.5da29","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":2440,"wires":[["40271a5c.b02ad4","eed7661a.cc8188"]]},{"id":"6e3faa2c.df3584","type":"mqtt in","z":"f12bc43.5250638","name":"remote","topic":"Remote/VAC_cut_out_voltage/IOMap","qos":"2","broker":"5e4493fc.f24d8c","x":95,"y":1428,"wires":[["3a2a8253.fba0be"]]},{"id":"3a2a8253.fba0be","type":"json","z":"f12bc43.5250638","name":"","property":"payload","action":"","pretty":false,"x":234,"y":1450,"wires":[["32d336d4.dac40a"]]},{"id":"32d336d4.dac40a","type":"function","z":"f12bc43.5250638","name":"json to dropdown","func":"var table=msg.payload['Lookup_Table'];\nvar newmsg = {'topic': msg.topic};\nnewmsg.payload = msg.payload['Current']\nnewmsg.options = [];\nvar temp1, temp2;\nvar i=0;\nfor (var key in table) {\n    temp1 = key;\n    temp2 = table[key];\n    newmsg.options[i] = {};\n    newmsg.options[i][temp1] = temp2;\n    i=i+1;\n\n}\nreturn newmsg;\n","outputs":1,"noerr":0,"x":402,"y":1395,"wires":[["3e092e76.7629b2","d70b37a9.87a938"]]},{"id":"3e092e76.7629b2","type":"ui_dropdown","z":"f12bc43.5250638","name":"","label":"","place":"Select option","group":"d2c1f45a.9b7c98","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":605,"y":1383,"wires":[["979114f5.104318"]]},{"id":"979114f5.104318","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/VAC_cut_out_voltage/Default","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":849,"y":1419,"wires":[]},{"id":"3a22832b.cc9aec","type":"function","z":"f12bc43.5250638","name":"Test","func":"msg.color = (msg.payload === \"ON\")?\"lime\":\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":1011,"y":1825,"wires":[["4795cdab.f87a04"]]},{"id":"6b4c12b0.2c2adc","type":"inject","z":"f12bc43.5250638","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":851,"y":1805,"wires":[["3a22832b.cc9aec"]]},{"id":"4795cdab.f87a04","type":"ui_text","z":"f12bc43.5250638","group":"d2404bf7.c1ded8","order":3,"width":"3","height":"1","name":"","label":"LED","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":1191,"y":1825,"wires":[]},{"id":"36d01fb4.e9f58","type":"inject","z":"f12bc43.5250638","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":851,"y":1845,"wires":[["3a22832b.cc9aec"]]},{"id":"2e5cb53a.3eeeda","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/Charger_Amps/Human","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":913,"y":1683,"wires":[]},{"id":"d9e26b87.d73b28","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/AC_shore_amps/Human","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":893,"y":1488,"wires":[]},{"id":"400b5c33.9ddaf4","type":"mqtt in","z":"f12bc43.5250638","name":"Transformer_temp","topic":"Inverter/Transformer_temp/Human","qos":"2","broker":"5e4493fc.f24d8c","x":258,"y":1242,"wires":[["86bb2a47.f9b1c8"]]},{"id":"f1a0a759.715fc8","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"75edb0ae.2649e","order":2,"width":0,"height":0,"gtype":"gage","title":"FET temp","label":"Degrees C","format":"{{value}}","min":"0","max":"80","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"20","seg2":"45","x":523,"y":1298,"wires":[]},{"id":"27702558.c6ffba","type":"mqtt in","z":"f12bc43.5250638","name":"FET_temp","topic":"Inverter/FET_temp/Human","qos":"2","broker":"5e4493fc.f24d8c","x":211,"y":1287,"wires":[["f1a0a759.715fc8"]]},{"id":"86bb2a47.f9b1c8","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"75edb0ae.2649e","order":2,"width":0,"height":0,"gtype":"gage","title":"Transformer temp","label":"Degrees C","format":"{{value}}","min":"0","max":"100","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"20","seg2":"45","x":562,"y":1249,"wires":[]},{"id":"7a2d617d.17318","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/Battery_Type/Human","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":898,"y":2108,"wires":[]},{"id":"16ce898a.9d0366","type":"json","z":"f12bc43.5250638","name":"","property":"payload","action":"","pretty":false,"x":255,"y":2183,"wires":[["112c481f.4492c8"]]},{"id":"57b85c20.6c5844","type":"mqtt in","z":"f12bc43.5250638","name":"Battery_Type","topic":"Remote/Battery_Type/IOMap","qos":"2","broker":"5e4493fc.f24d8c","x":75,"y":2142,"wires":[["16ce898a.9d0366"]]},{"id":"8ca71038.81159","type":"ui_button","z":"f12bc43.5250638","name":"","group":"d0a24c19.5da29","order":7,"width":0,"height":0,"passthru":false,"label":"Eq mode","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"str","topic":"","x":380,"y":380,"wires":[["3066363e.386d7a"]]},{"id":"3066363e.386d7a","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/Inverter_State","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":640,"y":380,"wires":[]},{"id":"112c481f.4492c8","type":"function","z":"f12bc43.5250638","name":"json to numeric","func":"var current=parseInt(msg.payload['Current']);\nvar scale=parseFloat(msg.payload['Scale']);\nvar steps=parseFloat(msg.payload['Steps']);\nvar max=parseFloat(msg.payload['Max']) * scale;\nvar min=parseFloat(msg.payload['Min']) * scale;\nvar topic = msg.topic.split(\"/\");\n\nvar newmsg = msg;\nnewmsg.payload = (current * scale).toFixed(1);\nnewmsg.topic = topic[1];\nnewmsg._topic = topic[1];\nnewmsg.ui_control = {\"min\":min, \"max\":max, \"step\":steps};\n\n\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":402,"y":2135,"wires":[["2ef07ab6.126ac6"]]},{"id":"2ef07ab6.126ac6","type":"ui_numeric","z":"f12bc43.5250638","name":"","label":"Bulk_volts","group":"d2404bf7.c1ded8","order":1,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value | number:1}}","min":0,"max":"10","step":"1","x":597,"y":2119,"wires":[["7a2d617d.17318"]]},{"id":"711d59f0.0c4388","type":"mqtt in","z":"f12bc43.5250638","name":"Search_watts","topic":"Remote/Search_watts/IOMap","qos":"2","broker":"5e4493fc.f24d8c","x":78,"y":2288,"wires":[["85a23ae0.a8a578"]]},{"id":"85a23ae0.a8a578","type":"json","z":"f12bc43.5250638","name":"","property":"payload","action":"","pretty":false,"x":260,"y":2279,"wires":[["e77b3059.8c91b"]]},{"id":"e77b3059.8c91b","type":"function","z":"f12bc43.5250638","name":"json to numeric","func":"var current=parseFloat(msg.payload['Default']);\nvar scale=parseFloat(msg.payload['Scale']);\nvar steps=parseFloat(msg.payload['Steps']);\nvar max=parseFloat(msg.payload['Max']) * scale;\nvar min=parseFloat(msg.payload['Min']) * scale;\nvar topic = msg.topic.split(\"/\");\n\nvar newmsg = msg;\nnewmsg.payload = (current * scale).toFixed(1);\nnewmsg.topic = topic[1];\nnewmsg._topic = topic[1];\nnewmsg.ui_control = {\"min\":min, \"max\":max, \"step\":steps};\n\n\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":424,"y":2298,"wires":[["a50f8e84.c15a9"]]},{"id":"a50f8e84.c15a9","type":"ui_numeric","z":"f12bc43.5250638","name":"","label":"Search_watts","group":"d0a24c19.5da29","order":12,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"10","step":"1","x":629,"y":2282,"wires":[["3e1871aa.aa72de"]]},{"id":"3e1871aa.aa72de","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/Search_watts/Default","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":967,"y":2317,"wires":[]},{"id":"8bc83300.38127","type":"rpi-gpio out","z":"f12bc43.5250638","name":"","pin":"15","set":"","level":"0","freq":"","out":"out","x":551,"y":1990,"wires":[]},{"id":"f93a1deb.dbbf","type":"ui_switch","z":"f12bc43.5250638","name":"","label":"GPIO17","group":"d0a24c19.5da29","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":294,"y":1995,"wires":[["8bc83300.38127"]]},{"id":"edddcb04.aa7198","type":"modbus-read","z":"c1a6078a.fc7988","name":"","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"4370","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"ed3e79e3.611cb8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":139,"y":84,"wires":[["7b4557f1.a23918"],[]]},{"id":"7b4557f1.a23918","type":"function","z":"c1a6078a.fc7988","name":"string to signed int16 scale / 10","func":"msg.payload = msg.payload[0]\nif ((msg.payload & 0x8000) > 0) {\n   msg.payload = msg.payload - 0x10000;\n}\nmsg.payload = parseFloat(msg.payload / 10).toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":399,"y":98,"wires":[["bd37f2aa.c461b"]]},{"id":"f793bd03.156c3","type":"function","z":"c1a6078a.fc7988","name":"modbus array to signed int32","func":"var lsb = msg.payload[0]\nvar msb = msg.payload[1]\nmsb = msb << 16\nmsg.payload = msb | lsb \nreturn msg;","outputs":1,"noerr":0,"x":431,"y":202,"wires":[["599b5824.446808","33c4c298.88501e"]]},{"id":"599b5824.446808","type":"debug","z":"c1a6078a.fc7988","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":743,"y":210,"wires":[]},{"id":"bd37f2aa.c461b","type":"ui_gauge","z":"c1a6078a.fc7988","name":"","group":"e218958a.c25258","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"amps","format":"{{value}}","min":"-100","max":"100","colors":["#ca3838","#23b500","#ca3838"],"seg1":"-25","seg2":"25","x":743,"y":113,"wires":[]},{"id":"97945efb.3df92","type":"modbus-read","z":"c1a6078a.fc7988","name":"","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"4368","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"ed3e79e3.611cb8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":143,"y":212,"wires":[["f793bd03.156c3"],[]]},{"id":"33c4c298.88501e","type":"ui_text","z":"c1a6078a.fc7988","group":"e218958a.c25258","order":0,"width":0,"height":0,"name":"","label":"WbJrAmpHourNET","format":"{{msg.payload}}","layout":"row-spread","x":775,"y":266,"wires":[]},{"id":"e5165f1.be8cda","type":"mqtt in","z":"27b64130.e9e2ee","name":"","topic":"BMS/Cell Voltages","qos":"2","broker":"5e4493fc.f24d8c","x":190,"y":420,"wires":[["5db936ae.fe6428"]]},{"id":"5db936ae.fe6428","type":"json","z":"27b64130.e9e2ee","name":"","property":"payload","action":"","pretty":false,"x":150,"y":480,"wires":[["88754a7a.a431f8"]]},{"id":"88754a7a.a431f8","type":"function","z":"27b64130.e9e2ee","name":"","func":"var msg0 = {payload: msg.payload[0]};\nmsg1 = {payload: msg.payload[1]};\nmsg2 = {payload: msg.payload[2]};\nmsg3 = {payload: msg.payload[3]};\nmsg4 = {payload: msg.payload[4]};\nmsg5 = {payload: msg.payload[5]};\nmsg6 = {payload: msg.payload[6]};\nmsg7 = {payload: msg.payload[7]};\nmsg8 = {payload: msg.payload[8]};\nmsg9 = {payload: msg.payload[9]};\nmsg10 = {payload: msg.payload[10]};\nmsg11 = {payload: msg.payload[11]};\nmsg12 = {payload: msg.payload[12]};\nmsg13 = {payload: msg.payload[13]};\nmsg14 = {payload: msg.payload[14]};\nmsg15 = {payload: msg.payload[15]};\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6,\nmsg7, msg8, msg9, msg10, msg11, msg12, msg13,\nmsg14, msg15];\n","outputs":16,"noerr":0,"x":150,"y":660,"wires":[["845d0b36.8d21a8"],["3fcf0385.f088fc"],["66a283a3.861cdc"],["43afba3c.cca4d4"],["3ef2f543.b55d4a"],["5ac37547.dbdb2c"],["2e57b872.b5f348"],["f0724ebc.34201"],["425d8a93.796994"],["773e3ea9.fc2a9"],["fc1678ea.a32278"],["5664e841.9109a8"],["91798a84.506e38"],["1a8f05d7.30d0ba"],["c344ec64.704e1"],["8a06f610.e5ca28"]]},{"id":"845d0b36.8d21a8","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":6,"width":"2","height":"2","gtype":"gage","title":"Cell 1","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":304,"y":483,"wires":[]},{"id":"3fcf0385.f088fc","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":7,"width":"2","height":"2","gtype":"gage","title":"Cell 2","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":305,"y":522,"wires":[]},{"id":"66a283a3.861cdc","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":8,"width":"2","height":"2","gtype":"gage","title":"Cell 3","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":305,"y":560,"wires":[]},{"id":"43afba3c.cca4d4","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":9,"width":"2","height":"2","gtype":"gage","title":"Cell 4","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":302,"y":596,"wires":[]},{"id":"3ef2f543.b55d4a","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":10,"width":"2","height":"2","gtype":"gage","title":"Cell 5","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":304,"y":635,"wires":[]},{"id":"5ac37547.dbdb2c","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":11,"width":"2","height":"2","gtype":"gage","title":"Cell 6","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":305,"y":672,"wires":[]},{"id":"2e57b872.b5f348","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":12,"width":"2","height":"2","gtype":"gage","title":"Cell 7","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":304,"y":708,"wires":[]},{"id":"f0724ebc.34201","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":13,"width":"2","height":"2","gtype":"gage","title":"Cell 8","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":309,"y":742,"wires":[]},{"id":"8a06f610.e5ca28","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":21,"width":"2","height":"2","gtype":"gage","title":"Cell 16","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":500,"y":743,"wires":[]},{"id":"c344ec64.704e1","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":20,"width":"2","height":"2","gtype":"gage","title":"Cell 15","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":495,"y":709,"wires":[]},{"id":"1a8f05d7.30d0ba","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":19,"width":"2","height":"2","gtype":"gage","title":"Cell 14","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":496,"y":673,"wires":[]},{"id":"91798a84.506e38","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":18,"width":"2","height":"2","gtype":"gage","title":"Cell 13","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":495,"y":636,"wires":[]},{"id":"5664e841.9109a8","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":17,"width":"2","height":"2","gtype":"gage","title":"Cell 12","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":493,"y":597,"wires":[]},{"id":"fc1678ea.a32278","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":16,"width":"2","height":"2","gtype":"gage","title":"Cell 11","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":496,"y":561,"wires":[]},{"id":"773e3ea9.fc2a9","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":15,"width":"2","height":"2","gtype":"gage","title":"Cell 10","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":496,"y":523,"wires":[]},{"id":"425d8a93.796994","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":14,"width":"2","height":"2","gtype":"gage","title":"Cell 9","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":485,"y":484,"wires":[]},{"id":"bfa1d102.137f6","type":"mqtt in","z":"27b64130.e9e2ee","name":"Pack State of Charge","topic":"BMS/Pack State of Charge","qos":"0","broker":"5e4493fc.f24d8c","x":180,"y":40,"wires":[["45ba5a8a.254ed4"]]},{"id":"45ba5a8a.254ed4","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"21831207.b5003e","order":1,"width":0,"height":0,"gtype":"gage","title":"Pack SOC","label":"Percent","format":"{{value}}","min":"0","max":"100","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"20","seg2":"95","x":490,"y":40,"wires":[]},{"id":"150aef72.0bdb61","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"21831207.b5003e","order":2,"width":0,"height":0,"gtype":"gage","title":"Pack voltage","label":"Volts","format":"{{value}}","min":"48","max":"60","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"52","seg2":"58","x":490,"y":80,"wires":[]},{"id":"3171cc2b.9bc894","type":"mqtt in","z":"27b64130.e9e2ee","name":"Pack Summed Voltage","topic":"BMS/Pack Summed Voltage","qos":"0","broker":"5e4493fc.f24d8c","x":180,"y":80,"wires":[["150aef72.0bdb61"]]},{"id":"4155a738.fba938","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"21831207.b5003e","order":3,"width":"3","height":"3","gtype":"gage","title":"Current","label":"amps","format":"{{value}}","min":"-100","max":"100","colors":["#ca3838","#23b500","#ca3838"],"seg1":"-25","seg2":"25","x":560,"y":260,"wires":[]},{"id":"6ede80e2.5c059","type":"function","z":"27b64130.e9e2ee","name":"string to signed int16 scale / 10","func":"msg.payload = msg.payload[0]\nif ((msg.payload & 0x8000) > 0) {\n   msg.payload = msg.payload - 0x10000;\n}\nmsg.payload = parseFloat(msg.payload / 10).toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["4155a738.fba938"]]},{"id":"74fd5caa.d57434","type":"modbus-read","z":"27b64130.e9e2ee","name":"","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"4370","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"ed3e79e3.611cb8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":106,"y":271,"wires":[["6ede80e2.5c059"],[]]},{"id":"78aa1525.bf3b5c","type":"modbus-read","z":"27b64130.e9e2ee","name":"","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"4368","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"ed3e79e3.611cb8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":320,"wires":[["5d6ec147.9db41"],[]]},{"id":"5d6ec147.9db41","type":"function","z":"27b64130.e9e2ee","name":"modbus array to signed int32","func":"var lsb = msg.payload[0]\nvar msb = msg.payload[1]\nmsb = msb << 16\nmsg.payload = msb | lsb \nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["5f4eb714.bf3c08"]]},{"id":"5f4eb714.bf3c08","type":"ui_text","z":"27b64130.e9e2ee","group":"21831207.b5003e","order":5,"width":0,"height":0,"name":"","label":"WbJrAmpHourNET","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":320,"wires":[]},{"id":"a06422fc.0738b","type":"mqtt in","z":"27b64130.e9e2ee","name":"Highest Cell Voltage","topic":"BMS/Highest Cell Voltage","qos":"2","broker":"5e4493fc.f24d8c","x":850,"y":80,"wires":[["55689853.8e3458"]]},{"id":"55689853.8e3458","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":4,"width":"2","height":"2","gtype":"gage","title":"Highest","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":1040,"y":80,"wires":[]},{"id":"27caa201.9f34ce","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":5,"width":"2","height":"2","gtype":"gage","title":"Lowest","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":1040,"y":120,"wires":[]},{"id":"5671b372.9389fc","type":"mqtt in","z":"27b64130.e9e2ee","name":"Lowest Cell Voltage","topic":"BMS/Lowest Cell Voltage","qos":"2","broker":"5e4493fc.f24d8c","x":850,"y":120,"wires":[["27caa201.9f34ce"]]},{"id":"209a1d2c.2b4e72","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"21831207.b5003e","order":4,"width":"3","height":"3","gtype":"gage","title":"Charge Current Limit","label":"Amps","format":"{{value}}","min":"0","max":"70","colors":["#ca3838","#f4fa04","#00b500"],"seg1":"15","seg2":"40","x":500,"y":140,"wires":[]},{"id":"d1b29865.f93f78","type":"mqtt in","z":"27b64130.e9e2ee","name":"Pack Charge Current Limit","topic":"BMS/Pack Charge Current Limit","qos":"0","broker":"5e4493fc.f24d8c","x":170,"y":140,"wires":[["209a1d2c.2b4e72"]]},{"id":"a6a9a55c.cff7b8","type":"mqtt in","z":"27b64130.e9e2ee","name":"Cell Temperatures","topic":"BMS/Raw Temperature","qos":"2","broker":"5e4493fc.f24d8c","x":890,"y":620,"wires":[["a698e611.d0a768"]]},{"id":"a698e611.d0a768","type":"json","z":"27b64130.e9e2ee","name":"","property":"payload","action":"","pretty":false,"x":850,"y":680,"wires":[["db200838.ee7a58"]]},{"id":"db200838.ee7a58","type":"function","z":"27b64130.e9e2ee","name":"","func":"var msg0 = {payload: msg.payload[0]};\nmsg1 = {payload: msg.payload[1]};\nmsg2 = {payload: msg.payload[2]};\nmsg3 = {payload: msg.payload[3]};\nmsg4 = {payload: msg.payload[4]};\nmsg5 = {payload: msg.payload[5]};\nmsg6 = {payload: msg.payload[6]};\nmsg7 = {payload: msg.payload[7]};\nmsg8 = {payload: msg.payload[8]};\nmsg9 = {payload: msg.payload[9]};\nmsg10 = {payload: msg.payload[10]};\nmsg11 = {payload: msg.payload[11]};\nmsg12 = {payload: msg.payload[12]};\nmsg13 = {payload: msg.payload[13]};\nmsg14 = {payload: msg.payload[14]};\nmsg15 = {payload: msg.payload[15]};\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6,\nmsg7, msg8, msg9, msg10, msg11, msg12, msg13,\nmsg14, msg15];\n","outputs":16,"noerr":0,"x":850,"y":860,"wires":[["743d5d81.9023c4"],["d10e3486.d0d3e8"],["febd3d08.7114d"],[],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"743d5d81.9023c4","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":1,"width":"2","height":"2","gtype":"gage","title":"temp 1","label":"Celsius","format":"{{value}}","min":"-40","max":"80","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"5","seg2":"40","x":1004,"y":683,"wires":[]},{"id":"d10e3486.d0d3e8","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":2,"width":"2","height":"2","gtype":"gage","title":"temp 2","label":"Celsius","format":"{{value}}","min":"-40","max":"80","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"5","seg2":"40","x":1010,"y":720,"wires":[]},{"id":"febd3d08.7114d","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"bb012999.eb10e8","order":3,"width":"2","height":"2","gtype":"gage","title":"temp 3","label":"Celsius","format":"{{value}}","min":"-40","max":"80","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"5","seg2":"40","x":1010,"y":760,"wires":[]},{"id":"5792714f.cd7e","type":"ui_text_input","z":"f12bc43.5250638","name":"","label":"Force Charge","group":"d0a24c19.5da29","order":0,"width":0,"height":0,"passthru":false,"mode":"number","delay":"0","topic":"","x":480,"y":2640,"wires":[["1a2daf55.129391"]]},{"id":"1a2daf55.129391","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/Parallel_threshold_Force_Charge","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":800,"y":2640,"wires":[]},{"id":"7ab317ec.8719f8","type":"mqtt in","z":"f12bc43.5250638","name":"Parallel_threshold_Force_Charge/Current","topic":"Remote/Parallel_threshold_Force_Charge","qos":"2","broker":"5e4493fc.f24d8c","x":180,"y":2620,"wires":[["5792714f.cd7e"]]},{"id":"9d16c17f.4c73f","type":"debug","z":"f12bc43.5250638","name":"out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":260,"wires":[]},{"id":"5c9b6a21.bd4f64","type":"debug","z":"f12bc43.5250638","name":"in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":260,"wires":[]},{"id":"4205ffdd.ac27f","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"InverterCtrl/Search_State/Set","qos":"2","retain":"true","broker":"5e4493fc.f24d8c","x":660,"y":440,"wires":[]},{"id":"c5ef387d.a55fd8","type":"ui_switch","z":"f12bc43.5250638","name":"","label":"SearchMode","group":"d0a24c19.5da29","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"True","onvalueType":"str","onicon":"","oncolor":"","offvalue":"False","offvalueType":"str","officon":"","offcolor":"","x":390,"y":440,"wires":[["4205ffdd.ac27f"]]},{"id":"7fb08ffa.751e7","type":"mqtt in","z":"f12bc43.5250638","name":"","topic":"InverterCtrl/Search_State","qos":"2","broker":"5e4493fc.f24d8c","x":150,"y":440,"wires":[["c5ef387d.a55fd8"]]},{"id":"1d1ee26d.d63cee","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"InverterCtrl/Disable_AC_In/Set","qos":"2","retain":"true","broker":"5e4493fc.f24d8c","x":670,"y":500,"wires":[]},{"id":"687bfb74.088c14","type":"ui_switch","z":"f12bc43.5250638","name":"","label":"Disable_AC_In","group":"d0a24c19.5da29","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"True","onvalueType":"str","onicon":"","oncolor":"","offvalue":"False","offvalueType":"str","officon":"","offcolor":"","x":400,"y":500,"wires":[["1d1ee26d.d63cee"]]},{"id":"3943b256.f79ece","type":"mqtt in","z":"f12bc43.5250638","name":"","topic":"InverterCtrl/Disable_AC_In","qos":"2","broker":"5e4493fc.f24d8c","x":150,"y":500,"wires":[["687bfb74.088c14"]]},{"id":"8fe8ce7d.0ada6","type":"inject","z":"f12bc43.5250638","name":"","topic":"","payload":"True","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":400,"wires":[["4205ffdd.ac27f"]]},{"id":"3d6b2283.20b0ee","type":"mqtt in","z":"27b64130.e9e2ee","name":"","topic":"BMS/Internal Resistances","qos":"2","broker":"5e4493fc.f24d8c","x":230,"y":920,"wires":[["5fbfc4cc.f0404c"]]},{"id":"5fbfc4cc.f0404c","type":"json","z":"27b64130.e9e2ee","name":"","property":"payload","action":"","pretty":false,"x":170,"y":980,"wires":[["b67cf6da.ff6088"]]},{"id":"b67cf6da.ff6088","type":"function","z":"27b64130.e9e2ee","name":"","func":"var msg0 = {payload: msg.payload[0]};\nmsg1 = {payload: msg.payload[1]};\nmsg2 = {payload: msg.payload[2]};\nmsg3 = {payload: msg.payload[3]};\nmsg4 = {payload: msg.payload[4]};\nmsg5 = {payload: msg.payload[5]};\nmsg6 = {payload: msg.payload[6]};\nmsg7 = {payload: msg.payload[7]};\nmsg8 = {payload: msg.payload[8]};\nmsg9 = {payload: msg.payload[9]};\nmsg10 = {payload: msg.payload[10]};\nmsg11 = {payload: msg.payload[11]};\nmsg12 = {payload: msg.payload[12]};\nmsg13 = {payload: msg.payload[13]};\nmsg14 = {payload: msg.payload[14]};\nmsg15 = {payload: msg.payload[15]};\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6,\nmsg7, msg8, msg9, msg10, msg11, msg12, msg13,\nmsg14, msg15];\n","outputs":16,"noerr":0,"x":170,"y":1160,"wires":[["da0098ff.1fa4a8"],["efb59397.0a098"],["397ebe34.d08292"],["da9adcda.4ccd"],["98d0cfe9.e005f"],["a0c68ab9.b375d8"],["85c13fa.88dcbc"],["5740e415.1eb6bc"],["11183129.c4612f"],["c612409.034d3c"],["a21edcc4.3de5c"],["86d6c2c2.b3507"],["883bd458.af6218"],["a06f56c9.7f62d8"],["281dc617.5e294a"],["b1ac73b3.3d10d"]]},{"id":"da0098ff.1fa4a8","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"fe15ca01.e613f8","order":6,"width":"2","height":"2","gtype":"gage","title":"Cell 1","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":324,"y":983,"wires":[]},{"id":"ab7b9dbd.d49ad","type":"mqtt in","z":"27b64130.e9e2ee","name":"","topic":"BMS/Open Cell Voltages","qos":"2","broker":"5e4493fc.f24d8c","x":190,"y":1320,"wires":[["593bfd7e.630064"]]},{"id":"593bfd7e.630064","type":"json","z":"27b64130.e9e2ee","name":"","property":"payload","action":"","pretty":false,"x":170,"y":1460,"wires":[["ab9e81f0.ed852","8c003a2c.3f2978"]]},{"id":"ab9e81f0.ed852","type":"function","z":"27b64130.e9e2ee","name":"test","func":"var msgout = [];\nvar test = {};\nfor(var i =0 ; i <= 15; i++){\n    msgout.push({payload: msg.payload[i],\n        topic: 'Cell ' + String(i+1),\n        units: 'Volts',\n    });\n}\n\nreturn msgout;","outputs":16,"noerr":0,"x":310,"y":1580,"wires":[["af7d67bd.3f9c48","8c003a2c.3f2978"],["347fd7b4.1c5468"],["49fadd82.edf734"],["4e57c134.5fae7"],["d2de7da1.eded7"],["fd77443d.4def98"],["2a6cf740.ae0698"],["fad91966.2eaa58"],["93694883.38b918"],["1f70c5c7.c2591a"],["459b3fbc.03614"],["906e0d21.aa52d"],["b8dee083.79405"],["dc7ac1cd.edd0d"],["6f35adfe.a71484"],["202fadcf.c880f2"]]},{"id":"af7d67bd.3f9c48","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"5df915d0.0bcbec","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":450,"y":1420,"wires":[]},{"id":"efb59397.0a098","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"fe15ca01.e613f8","order":7,"width":"2","height":"2","gtype":"gage","title":"Cell 2","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":330,"y":1020,"wires":[]},{"id":"397ebe34.d08292","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"fe15ca01.e613f8","order":8,"width":"2","height":"2","gtype":"gage","title":"Cell 3","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":330,"y":1060,"wires":[]},{"id":"da9adcda.4ccd","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"fe15ca01.e613f8","order":9,"width":"2","height":"2","gtype":"gage","title":"Cell 4","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":327,"y":1094,"wires":[]},{"id":"98d0cfe9.e005f","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"fe15ca01.e613f8","order":10,"width":"2","height":"2","gtype":"gage","title":"Cell 5","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":344,"y":1135,"wires":[]},{"id":"a0c68ab9.b375d8","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"fe15ca01.e613f8","order":11,"width":"2","height":"2","gtype":"gage","title":"Cell 6","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":350,"y":1160,"wires":[]},{"id":"85c13fa.88dcbc","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"fe15ca01.e613f8","order":12,"width":"2","height":"2","gtype":"gage","title":"Cell 7","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":364,"y":1208,"wires":[]},{"id":"5740e415.1eb6bc","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"fe15ca01.e613f8","order":13,"width":"2","height":"2","gtype":"gage","title":"Cell 8","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":369,"y":1242,"wires":[]},{"id":"b1ac73b3.3d10d","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"fe15ca01.e613f8","order":21,"width":"2","height":"2","gtype":"gage","title":"Cell 16","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":560,"y":1243,"wires":[]},{"id":"281dc617.5e294a","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"fe15ca01.e613f8","order":20,"width":"2","height":"2","gtype":"gage","title":"Cell 15","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":555,"y":1209,"wires":[]},{"id":"a06f56c9.7f62d8","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"fe15ca01.e613f8","order":19,"width":"2","height":"2","gtype":"gage","title":"Cell 14","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":536,"y":1173,"wires":[]},{"id":"883bd458.af6218","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"fe15ca01.e613f8","order":18,"width":"2","height":"2","gtype":"gage","title":"Cell 13","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":520,"y":1134,"wires":[]},{"id":"86d6c2c2.b3507","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"fe15ca01.e613f8","order":17,"width":"2","height":"2","gtype":"gage","title":"Cell 12","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":518,"y":1095,"wires":[]},{"id":"a21edcc4.3de5c","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"fe15ca01.e613f8","order":16,"width":"2","height":"2","gtype":"gage","title":"Cell 11","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":521,"y":1059,"wires":[]},{"id":"c612409.034d3c","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"fe15ca01.e613f8","order":15,"width":"2","height":"2","gtype":"gage","title":"Cell 10","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":521,"y":1021,"wires":[]},{"id":"11183129.c4612f","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"fe15ca01.e613f8","order":14,"width":"2","height":"2","gtype":"gage","title":"Cell 9","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":510,"y":982,"wires":[]},{"id":"8c003a2c.3f2978","type":"debug","z":"27b64130.e9e2ee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":480,"y":1340,"wires":[]},{"id":"5d82a5f8.8b768c","type":"function","z":"27b64130.e9e2ee","name":"test","func":"var msg = [];\nvar test = {};\nvar msg0 = {payload: msg.payload[0]};\nfor(var i =0 ; i <= 15; i++){\n    msg.push(test);\n}\n\nreturn msg0;","outputs":16,"noerr":0,"x":210,"y":1900,"wires":[[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"49fadd82.edf734","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"5df915d0.0bcbec","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":450,"y":1460,"wires":[]},{"id":"d2de7da1.eded7","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"5df915d0.0bcbec","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":450,"y":1500,"wires":[]},{"id":"2a6cf740.ae0698","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"5df915d0.0bcbec","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":450,"y":1540,"wires":[]},{"id":"93694883.38b918","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"5df915d0.0bcbec","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":450,"y":1580,"wires":[]},{"id":"459b3fbc.03614","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"5df915d0.0bcbec","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":451,"y":1624,"wires":[]},{"id":"b8dee083.79405","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"5df915d0.0bcbec","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":450,"y":1660,"wires":[]},{"id":"6f35adfe.a71484","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"5df915d0.0bcbec","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":450,"y":1700,"wires":[]},{"id":"347fd7b4.1c5468","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"5df915d0.0bcbec","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":590,"y":1420,"wires":[]},{"id":"4e57c134.5fae7","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"5df915d0.0bcbec","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":590,"y":1460,"wires":[]},{"id":"fd77443d.4def98","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"5df915d0.0bcbec","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":590,"y":1500,"wires":[]},{"id":"fad91966.2eaa58","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"5df915d0.0bcbec","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":590,"y":1540,"wires":[]},{"id":"1f70c5c7.c2591a","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"5df915d0.0bcbec","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":590,"y":1580,"wires":[]},{"id":"906e0d21.aa52d","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"5df915d0.0bcbec","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":590,"y":1620,"wires":[]},{"id":"dc7ac1cd.edd0d","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"5df915d0.0bcbec","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":590,"y":1660,"wires":[]},{"id":"202fadcf.c880f2","type":"ui_gauge","z":"27b64130.e9e2ee","name":"","group":"5df915d0.0bcbec","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":590,"y":1700,"wires":[]},{"id":"7240295f.403908","type":"mqtt in","z":"f12bc43.5250638","name":"","topic":"Control/BMS_Charge","qos":"2","broker":"5e4493fc.f24d8c","x":160,"y":2400,"wires":[["605aa711.43ed18","bc7be6b0.d52ad8"]]},{"id":"40271a5c.b02ad4","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Control/BMS_Charge","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":680,"y":2380,"wires":[]},{"id":"f560d7c6.a5c1e8","type":"mqtt in","z":"f12bc43.5250638","name":"","topic":"Control/BMS_Charge","qos":"2","broker":"5e4493fc.f24d8c","x":160,"y":2520,"wires":[["3aeef698.20f2aa"]]},{"id":"bc7be6b0.d52ad8","type":"debug","z":"f12bc43.5250638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":2360,"wires":[]},{"id":"eed7661a.cc8188","type":"debug","z":"f12bc43.5250638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":2460,"wires":[]}]