node-red/flows_inverterpi.json
[{"id":"f12bc43.5250638","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c1a6078a.fc7988","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5e4493fc.f24d8c","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b321d4ef.fa1af8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"test","tz":""},{"id":"a595dbc0.c14ba8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"d0a24c19.5da29","type":"ui_group","z":"","name":"Default","tab":"a595dbc0.c14ba8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b24a0c80.3cfae","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ed3e79e3.611cb8","type":"modbus-client","z":"","name":"Midnite MPPT","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.2.2","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"f73fc9c9.0247a8","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"14d6b697.8ce8c9","type":"ui_group","name":"Group 2","tab":"a595dbc0.c14ba8","order":2,"disp":true,"width":6},{"id":"6c2e0b23.07c704","type":"ui_group","name":"Group 3","tab":"a595dbc0.c14ba8","order":4,"disp":true,"width":6},{"id":"6e2fc5dd.7a218c","type":"ui_group","name":"Group 4","tab":"a595dbc0.c14ba8","order":3,"disp":true,"width":6},{"id":"d2c1f45a.9b7c98","type":"ui_group","name":"Group 5","tab":"a595dbc0.c14ba8","order":5,"disp":true,"width":6},{"id":"d2404bf7.c1ded8","type":"ui_group","name":"Group 6","tab":"a595dbc0.c14ba8","order":6,"disp":true,"width":6},{"id":"45f27d87.c42134","type":"ui_group","z":"","name":"LED Testing","tab":"eb0ab4ef.ee3fa8","disp":true,"width":"4"},{"id":"eb0ab4ef.ee3fa8","type":"ui_tab","name":"Tab","icon":"dashboard","order":0},{"id":"75edb0ae.2649e","type":"ui_group","name":"Group 7","tab":"a595dbc0.c14ba8","order":7,"disp":true,"width":6},{"id":"bb012999.eb10e8","type":"ui_group","name":"Group 1","tab":"f73fc9c9.0247a8","order":1,"disp":true,"width":6},{"id":"e3180855.bcc1c8","type":"ui_tab","z":"","name":"Midnite","icon":"dashboard"},{"id":"e218958a.c25258","type":"ui_group","z":"","name":"Default","tab":"e3180855.bcc1c8","disp":true,"width":"6","collapse":false},{"id":"50df611a.ffa6a","type":"mqtt in","z":"f12bc43.5250638","name":"inverter","topic":"Inverter/Inverter_LED","qos":"2","broker":"5e4493fc.f24d8c","x":229,"y":312,"wires":[["fad3ff3d.fe9d5"]]},{"id":"fad3ff3d.fe9d5","type":"ui_switch","z":"f12bc43.5250638","name":"","label":"Inverter","group":"d0a24c19.5da29","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"True","onvalueType":"str","onicon":"","oncolor":"","offvalue":"False","offvalueType":"str","officon":"","offcolor":"","x":350,"y":251,"wires":[["4b8bc0d5.caa9f"]]},{"id":"3914d60a.9c36ea","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/Inverter_State","qos":"2","retain":"true","broker":"5e4493fc.f24d8c","x":999,"y":355,"wires":[]},{"id":"4b8bc0d5.caa9f","type":"change","z":"f12bc43.5250638","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":589,"y":260,"wires":[["3914d60a.9c36ea"]]},{"id":"dd872446.79fb28","type":"debug","z":"f12bc43.5250638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":599,"y":669,"wires":[]},{"id":"a1b7d49f.9837b8","type":"mqtt in","z":"f12bc43.5250638","name":"","topic":"Remote/+/IOMap","qos":"2","broker":"5e4493fc.f24d8c","x":287,"y":711,"wires":[["12c5e06f.bf024","811c0c24.f753a"]]},{"id":"12c5e06f.bf024","type":"debug","z":"f12bc43.5250638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":558,"y":716,"wires":[]},{"id":"811c0c24.f753a","type":"json","z":"f12bc43.5250638","name":"","property":"payload","action":"","pretty":false,"x":415,"y":648,"wires":[["dd872446.79fb28"]]},{"id":"106bb9e5.c436b6","type":"mqtt in","z":"f12bc43.5250638","name":"DC_volts","topic":"Inverter/DC_volts/Human","qos":"2","broker":"5e4493fc.f24d8c","x":235,"y":950,"wires":[["258422b5.ab28ae"]]},{"id":"258422b5.ab28ae","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"6c2e0b23.07c704","order":1,"width":0,"height":0,"gtype":"gage","title":"DC Voltage","label":"Volts","format":"{{value}}","min":"44","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":907,"wires":[]},{"id":"68001916.855828","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"6e2fc5dd.7a218c","order":1,"width":0,"height":0,"gtype":"gage","title":"AC in","label":"Volts","format":"{{value}}","min":"90","max":"240","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":532,"y":1043,"wires":[]},{"id":"1de39026.526bc","type":"mqtt in","z":"f12bc43.5250638","name":"AC_volts_in","topic":"Inverter/AC_Volts_in/Human","qos":"2","broker":"5e4493fc.f24d8c","x":240,"y":1032,"wires":[["68001916.855828"]]},{"id":"b44665fb.5110f8","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"14d6b697.8ce8c9","order":1,"width":0,"height":0,"gtype":"gage","title":"AC Out","label":"Volts","format":"{{value}}","min":"90","max":"130","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":549,"y":1141,"wires":[]},{"id":"82dac1f8.0fd4e","type":"mqtt in","z":"f12bc43.5250638","name":"AC_volts_out","topic":"Inverter/AC_volts_out/Human","qos":"2","broker":"5e4493fc.f24d8c","x":228,"y":1131,"wires":[["b44665fb.5110f8"]]},{"id":"c63bc218.1671b","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"6c2e0b23.07c704","order":2,"width":0,"height":0,"gtype":"gage","title":"DC Current","label":"Amps","format":"{{value}}","min":"0","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":738,"y":1011,"wires":[]},{"id":"5485d828.ea6278","type":"mqtt in","z":"f12bc43.5250638","name":"DC_amps","topic":"Inverter/DC_amps/Human","qos":"2","broker":"5e4493fc.f24d8c","x":233,"y":996,"wires":[["c63bc218.1671b"]]},{"id":"c905f2c5.47c8f","type":"mqtt in","z":"f12bc43.5250638","name":"Inverter_Status","topic":"Inverter/Inverter_Status/Human","qos":"2","broker":"5e4493fc.f24d8c","x":249,"y":842,"wires":[["fa7cea9f.0f3c38","dcde4757.f2c6f8"]]},{"id":"fa7cea9f.0f3c38","type":"ui_text","z":"f12bc43.5250638","group":"d0a24c19.5da29","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":577,"y":832,"wires":[]},{"id":"dcde4757.f2c6f8","type":"debug","z":"f12bc43.5250638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":433,"y":890,"wires":[]},{"id":"ff1d42f.16853c","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"14d6b697.8ce8c9","order":2,"width":0,"height":0,"gtype":"gage","title":"AC Current Out","label":"Amps","format":"{{value}}","min":"0","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":556,"y":1189,"wires":[]},{"id":"f47e7681.628f88","type":"mqtt in","z":"f12bc43.5250638","name":"AC_amps_out","topic":"Inverter/AC_amps_out/Human","qos":"2","broker":"5e4493fc.f24d8c","x":234,"y":1178,"wires":[["ff1d42f.16853c"]]},{"id":"dcc379fe.701918","type":"mqtt in","z":"f12bc43.5250638","name":"inverter","topic":"Inverter/Charger_LED","qos":"2","broker":"5e4493fc.f24d8c","x":217,"y":501,"wires":[["176e5231.fe748e"]]},{"id":"176e5231.fe748e","type":"ui_switch","z":"f12bc43.5250638","name":"","label":"Charger","group":"d0a24c19.5da29","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"True","onvalueType":"str","onicon":"","oncolor":"","offvalue":"False","offvalueType":"str","officon":"","offcolor":"","x":338,"y":440,"wires":[["2c6351ea.c1154e"]]},{"id":"2c6351ea.c1154e","type":"change","z":"f12bc43.5250638","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":577,"y":449,"wires":[["c63a7c39.40657"]]},{"id":"c63a7c39.40657","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/Inverter_State","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":987,"y":544,"wires":[]},{"id":"d6818b.4c4f5e78","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"6e2fc5dd.7a218c","order":2,"width":0,"height":0,"gtype":"gage","title":"AC Current in","label":"Amps","format":"{{value}}","min":"0","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":554,"y":1096,"wires":[]},{"id":"b37098f2.e49668","type":"mqtt in","z":"f12bc43.5250638","name":"AC_amps_in","topic":"Inverter/AC_amps_in/Human","qos":"2","broker":"5e4493fc.f24d8c","x":232,"y":1085,"wires":[["d6818b.4c4f5e78"]]},{"id":"d6258df6.3883e","type":"mqtt in","z":"f12bc43.5250638","name":"Remote Hours","topic":"Remote/Hours","qos":"2","broker":"5e4493fc.f24d8c","x":256,"y":549,"wires":[["c5d84004.90bef"]]},{"id":"c5d84004.90bef","type":"ui_text","z":"f12bc43.5250638","group":"d0a24c19.5da29","order":2,"width":"2","height":"1","name":"hour","label":"Time","format":"{{msg.payload}}","layout":"row-right","x":594,"y":539,"wires":[]},{"id":"4a62f33d.9e320c","type":"ui_text","z":"f12bc43.5250638","group":"d0a24c19.5da29","order":3,"width":"2","height":"1","name":"Minutes","label":":","format":"{{msg.payload}}","layout":"row-left","x":608,"y":590,"wires":[]},{"id":"bb670293.b9dc8","type":"mqtt in","z":"f12bc43.5250638","name":"Remote Minutes","topic":"Remote/Minutes","qos":"2","broker":"5e4493fc.f24d8c","x":270,"y":600,"wires":[["4a62f33d.9e320c"]]},{"id":"403511ac.92aab","type":"ui_numeric","z":"f12bc43.5250638","name":"","label":"{{msg.topic}}","group":"d0a24c19.5da29","order":10,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"10","step":"1","x":634,"y":1501,"wires":[["385efc51.f90034","d9e26b87.d73b28"]]},{"id":"385efc51.f90034","type":"debug","z":"f12bc43.5250638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":787,"y":1545,"wires":[]},{"id":"4c5b29a6.dfd9c8","type":"mqtt in","z":"f12bc43.5250638","name":"AC_shore_amps","topic":"Remote/AC_shore_amps/IOMap","qos":"2","broker":"5e4493fc.f24d8c","x":113,"y":1528,"wires":[["f8a6e702.f0ed68"]]},{"id":"f8a6e702.f0ed68","type":"json","z":"f12bc43.5250638","name":"","property":"payload","action":"","pretty":false,"x":283,"y":1569,"wires":[["f3d1cd87.eaeec"]]},{"id":"f3d1cd87.eaeec","type":"function","z":"f12bc43.5250638","name":"json to numeric","func":"var current=parseFloat(msg.payload['Current']);\nvar scale=parseFloat(msg.payload['Scale']);\nvar steps=parseFloat(msg.payload['Steps']);\nvar max=parseFloat(msg.payload['Max']) * scale;\nvar min=parseFloat(msg.payload['Min']) * scale;\nvar topic = msg.topic.split(\"/\");\n\nvar newmsg = msg;\nnewmsg.payload = current;\nnewmsg.topic = topic[1];\nnewmsg._topic = topic[1];\nnewmsg.ui_control = {\"min\":min, \"max\":max, \"step\":steps};\n\n\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":441,"y":1514,"wires":[["d70b37a9.87a938","403511ac.92aab"]]},{"id":"d70b37a9.87a938","type":"debug","z":"f12bc43.5250638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":609,"y":1603,"wires":[]},{"id":"c9ff105e.00598","type":"debug","z":"f12bc43.5250638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":596,"y":1792,"wires":[]},{"id":"685609cb.797758","type":"json","z":"f12bc43.5250638","name":"","property":"payload","action":"","pretty":false,"x":270,"y":1758,"wires":[["987527f0.849ce8","c9ff105e.00598"]]},{"id":"2dd5ca36.135f36","type":"ui_numeric","z":"f12bc43.5250638","name":"","label":"{{msg.topic}}","group":"d0a24c19.5da29","order":11,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"10","step":"1","x":621,"y":1690,"wires":[["50ae6466.be2adc","2e5cb53a.3eeeda"]]},{"id":"91271a74.5ad2a8","type":"mqtt in","z":"f12bc43.5250638","name":"Charger_Amps","topic":"Remote/Charger_Amps/IOMap","qos":"2","broker":"5e4493fc.f24d8c","x":100,"y":1717,"wires":[["685609cb.797758"]]},{"id":"50ae6466.be2adc","type":"debug","z":"f12bc43.5250638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":774,"y":1734,"wires":[]},{"id":"987527f0.849ce8","type":"function","z":"f12bc43.5250638","name":"json to numeric","func":"var current=parseFloat(msg.payload['Current']);\nvar scale=parseFloat(msg.payload['Scale']);\nvar steps=parseFloat(msg.payload['Steps']);\nvar max=parseFloat(msg.payload['Max']) * scale;\nvar min=parseFloat(msg.payload['Min']) * scale;\nvar topic = msg.topic.split(\"/\");\n\nvar newmsg = msg;\nnewmsg.payload = (current * scale).toFixed(1);\nnewmsg.topic = topic[1];\nnewmsg._topic = topic[1];\nnewmsg.ui_control = {\"min\":min, \"max\":max, \"step\":steps};\n\n\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":436,"y":1706,"wires":[["2dd5ca36.135f36","c9ff105e.00598"]]},{"id":"4449bc2a.daa0e4","type":"mqtt in","z":"f12bc43.5250638","name":"Float_Volts","topic":"Remote/Float_Volts/IOMap","qos":"2","broker":"5e4493fc.f24d8c","x":85,"y":1889,"wires":[["daafcb41.16c2d8"]]},{"id":"daafcb41.16c2d8","type":"json","z":"f12bc43.5250638","name":"","property":"payload","action":"","pretty":false,"x":275,"y":1930,"wires":[["f6b38c48.128ae"]]},{"id":"f6b38c48.128ae","type":"function","z":"f12bc43.5250638","name":"json to numeric","func":"var current=parseInt(msg.payload['Current']);\nvar scale=parseFloat(msg.payload['Scale']);\nvar steps=parseFloat(msg.payload['Steps']);\nvar max=parseFloat(msg.payload['Max']) * scale;\nvar min=parseFloat(msg.payload['Min']) * scale;\nvar topic = msg.topic.split(\"/\");\n\nvar newmsg = msg;\nnewmsg.payload = (current * scale).toFixed(1);\nnewmsg.topic = topic[1];\nnewmsg._topic = topic[1];\nnewmsg.ui_control = {\"min\":min, \"max\":max, \"step\":steps};\n\n\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":441,"y":1878,"wires":[["784e1d1.7cccde4","7909c634.dc7248"]]},{"id":"784e1d1.7cccde4","type":"ui_numeric","z":"f12bc43.5250638","name":"","label":"Float_volts","group":"d2404bf7.c1ded8","order":1,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value | number:1}}","min":0,"max":"10","step":"1","x":636,"y":1862,"wires":[["7909c634.dc7248","7aa0ef32.aaf97"]]},{"id":"7909c634.dc7248","type":"debug","z":"f12bc43.5250638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":558,"y":1948,"wires":[]},{"id":"7aa0ef32.aaf97","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/Float_Volts/Human","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":861,"y":1918,"wires":[]},{"id":"3aeef698.20f2aa","type":"rpi-gpio out","z":"f12bc43.5250638","name":"","pin":"13","set":"","level":"0","freq":"","out":"out","x":559,"y":2030,"wires":[]},{"id":"605aa711.43ed18","type":"ui_switch","z":"f12bc43.5250638","name":"","label":"BMS Charge","group":"d0a24c19.5da29","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":312,"y":2035,"wires":[["3aeef698.20f2aa"]]},{"id":"6e3faa2c.df3584","type":"mqtt in","z":"f12bc43.5250638","name":"remote","topic":"Remote/VAC_cut_out_voltage/IOMap","qos":"2","broker":"5e4493fc.f24d8c","x":95,"y":1428,"wires":[["3a2a8253.fba0be"]]},{"id":"3a2a8253.fba0be","type":"json","z":"f12bc43.5250638","name":"","property":"payload","action":"","pretty":false,"x":234,"y":1450,"wires":[["32d336d4.dac40a"]]},{"id":"32d336d4.dac40a","type":"function","z":"f12bc43.5250638","name":"json to dropdown","func":"var table=msg.payload['Lookup_Table'];\nvar newmsg = msg;\nnewmsg.options = [];\nvar temp1, temp2;\nvar i=0;\nfor (var key in table) {\n    temp1 = key;\n    temp2 = table[key];\n    newmsg.options[i] = {};\n    newmsg.options[i][temp1] = temp2;\n    i=i+1;\n\n}\nreturn newmsg;\n","outputs":1,"noerr":0,"x":402,"y":1395,"wires":[["3e092e76.7629b2"]]},{"id":"3e092e76.7629b2","type":"ui_dropdown","z":"f12bc43.5250638","name":"","label":"","place":"Select option","group":"d2c1f45a.9b7c98","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":605,"y":1383,"wires":[["979114f5.104318"]]},{"id":"979114f5.104318","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/VAC_cut_out_voltage","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":829,"y":1419,"wires":[]},{"id":"3a22832b.cc9aec","type":"function","z":"f12bc43.5250638","name":"Test","func":"msg.color = (msg.payload === \"ON\")?\"lime\":\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":1011,"y":1825,"wires":[["4795cdab.f87a04"]]},{"id":"6b4c12b0.2c2adc","type":"inject","z":"f12bc43.5250638","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":851,"y":1805,"wires":[["3a22832b.cc9aec"]]},{"id":"4795cdab.f87a04","type":"ui_text","z":"f12bc43.5250638","group":"d2404bf7.c1ded8","order":3,"width":"3","height":"1","name":"","label":"LED","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":1191,"y":1825,"wires":[]},{"id":"36d01fb4.e9f58","type":"inject","z":"f12bc43.5250638","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":851,"y":1845,"wires":[["3a22832b.cc9aec"]]},{"id":"2e5cb53a.3eeeda","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/Charger_Amps/Human","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":913,"y":1683,"wires":[]},{"id":"d9e26b87.d73b28","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/AC_shore_amps/Human","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":893,"y":1488,"wires":[]},{"id":"400b5c33.9ddaf4","type":"mqtt in","z":"f12bc43.5250638","name":"Transformer_temp","topic":"Inverter/Transformer_temp/Human","qos":"2","broker":"5e4493fc.f24d8c","x":258,"y":1242,"wires":[["86bb2a47.f9b1c8"]]},{"id":"f1a0a759.715fc8","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"75edb0ae.2649e","order":2,"width":0,"height":0,"gtype":"gage","title":"FET temp","label":"Degrees C","format":"{{value}}","min":"0","max":"80","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"20","seg2":"45","x":523,"y":1298,"wires":[]},{"id":"27702558.c6ffba","type":"mqtt in","z":"f12bc43.5250638","name":"FET_temp","topic":"Inverter/FET_temp/Human","qos":"2","broker":"5e4493fc.f24d8c","x":211,"y":1287,"wires":[["f1a0a759.715fc8"]]},{"id":"86bb2a47.f9b1c8","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"75edb0ae.2649e","order":2,"width":0,"height":0,"gtype":"gage","title":"Transformer temp","label":"Degrees C","format":"{{value}}","min":"0","max":"100","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"20","seg2":"45","x":562,"y":1249,"wires":[]},{"id":"7a2d617d.17318","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/Battery_Type/Human","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":898,"y":2108,"wires":[]},{"id":"16ce898a.9d0366","type":"json","z":"f12bc43.5250638","name":"","property":"payload","action":"","pretty":false,"x":255,"y":2183,"wires":[["112c481f.4492c8"]]},{"id":"829a0119.52862","type":"debug","z":"f12bc43.5250638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":742,"y":2355,"wires":[]},{"id":"57b85c20.6c5844","type":"mqtt in","z":"f12bc43.5250638","name":"Battery_Type","topic":"Remote/Battery_Type/IOMap","qos":"2","broker":"5e4493fc.f24d8c","x":75,"y":2142,"wires":[["16ce898a.9d0366"]]},{"id":"8ca71038.81159","type":"ui_button","z":"f12bc43.5250638","name":"","group":"d0a24c19.5da29","order":7,"width":0,"height":0,"passthru":false,"label":"Eq mode","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"str","topic":"","x":368,"y":367,"wires":[["3066363e.386d7a"]]},{"id":"3066363e.386d7a","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/Inverter_State","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":602,"y":367,"wires":[]},{"id":"24f3cf53.0676d","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/Battery_Type/Human","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":418,"y":2461,"wires":[]},{"id":"672fcd74.1659a4","type":"ui_button","z":"f12bc43.5250638","name":"","group":"d0a24c19.5da29","order":8,"width":0,"height":0,"passthru":false,"label":"fix","color":"","bgcolor":"","icon":"","payload":"58","payloadType":"str","topic":"","x":144,"y":2461,"wires":[["24f3cf53.0676d"]]},{"id":"e8ecb6a6.d92218","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/Float_Volts/Human","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":416,"y":2554,"wires":[]},{"id":"cdf92f8c.e3d0e","type":"ui_button","z":"f12bc43.5250638","name":"","group":"d0a24c19.5da29","order":9,"width":0,"height":0,"passthru":false,"label":"fix","color":"","bgcolor":"","icon":"","payload":"58","payloadType":"str","topic":"","x":152,"y":2554,"wires":[["e8ecb6a6.d92218"]]},{"id":"112c481f.4492c8","type":"function","z":"f12bc43.5250638","name":"json to numeric","func":"var current=parseInt(msg.payload['Current']);\nvar scale=parseFloat(msg.payload['Scale']);\nvar steps=parseFloat(msg.payload['Steps']);\nvar max=parseFloat(msg.payload['Max']) * scale;\nvar min=parseFloat(msg.payload['Min']) * scale;\nvar topic = msg.topic.split(\"/\");\n\nvar newmsg = msg;\nnewmsg.payload = (current * scale).toFixed(1);\nnewmsg.topic = topic[1];\nnewmsg._topic = topic[1];\nnewmsg.ui_control = {\"min\":min, \"max\":max, \"step\":steps};\n\n\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":402,"y":2135,"wires":[["2ef07ab6.126ac6"]]},{"id":"2ef07ab6.126ac6","type":"ui_numeric","z":"f12bc43.5250638","name":"","label":"Bulk_volts","group":"d2404bf7.c1ded8","order":1,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value | number:1}}","min":0,"max":"10","step":"1","x":597,"y":2119,"wires":[["7a2d617d.17318"]]},{"id":"711d59f0.0c4388","type":"mqtt in","z":"f12bc43.5250638","name":"Search_watts","topic":"Remote/Search_watts/IOMap","qos":"2","broker":"5e4493fc.f24d8c","x":78,"y":2288,"wires":[["85a23ae0.a8a578","829a0119.52862"]]},{"id":"85a23ae0.a8a578","type":"json","z":"f12bc43.5250638","name":"","property":"payload","action":"","pretty":false,"x":260,"y":2279,"wires":[["e77b3059.8c91b"]]},{"id":"e77b3059.8c91b","type":"function","z":"f12bc43.5250638","name":"json to numeric","func":"var current=parseFloat(msg.payload['Default']);\nvar scale=parseFloat(msg.payload['Scale']);\nvar steps=parseFloat(msg.payload['Steps']);\nvar max=parseFloat(msg.payload['Max']) * scale;\nvar min=parseFloat(msg.payload['Min']) * scale;\nvar topic = msg.topic.split(\"/\");\n\nvar newmsg = msg;\nnewmsg.payload = (current * scale).toFixed(1);\nnewmsg.topic = topic[1];\nnewmsg._topic = topic[1];\nnewmsg.ui_control = {\"min\":min, \"max\":max, \"step\":steps};\n\n\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":424,"y":2298,"wires":[["a50f8e84.c15a9"]]},{"id":"a50f8e84.c15a9","type":"ui_numeric","z":"f12bc43.5250638","name":"","label":"Search_watts","group":"d0a24c19.5da29","order":12,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"10","step":"1","x":629,"y":2282,"wires":[["3e1871aa.aa72de","229415c4.565c0a"]]},{"id":"229415c4.565c0a","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/Search_watts/Human","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":961,"y":2261,"wires":[]},{"id":"226a3576.9ccb4a","type":"mqtt in","z":"f12bc43.5250638","name":"Search_watts/Default","topic":"Remote/Search_watts/Default","qos":"2","broker":"5e4493fc.f24d8c","x":105,"y":2399,"wires":[["829a0119.52862","9d208ec0.e98eb"]]},{"id":"9d208ec0.e98eb","type":"function","z":"f12bc43.5250638","name":"","func":"var topic = msg.topic\nif (topic==\"Remote/Search_watts/Default\"){\n    context.set('Default',msg.payload)\n}\nif (topic==\"Remote/Search_watts/Current\"){\n    context.set('Current',msg.payload)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":351,"y":2380,"wires":[[]]},{"id":"3e1871aa.aa72de","type":"mqtt out","z":"f12bc43.5250638","name":"","topic":"Remote/Search_watts/Default","qos":"","retain":"true","broker":"5e4493fc.f24d8c","x":967,"y":2317,"wires":[]},{"id":"9df811ed.d953b","type":"mqtt in","z":"f12bc43.5250638","name":"Search_watts/Current","topic":"Remote/Search_watts/Current","qos":"2","broker":"5e4493fc.f24d8c","x":105,"y":2349,"wires":[["9d208ec0.e98eb","829a0119.52862"]]},{"id":"8bc83300.38127","type":"rpi-gpio out","z":"f12bc43.5250638","name":"","pin":"15","set":"","level":"0","freq":"","out":"out","x":551,"y":1990,"wires":[]},{"id":"f93a1deb.dbbf","type":"ui_switch","z":"f12bc43.5250638","name":"","label":"GPIO17","group":"d0a24c19.5da29","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":294,"y":1995,"wires":[["8bc83300.38127"]]},{"id":"424cfb11.27c4c4","type":"mqtt in","z":"f12bc43.5250638","name":"Pack State of Charge","topic":"BMS/Pack State of Charge ","qos":"2","broker":"5e4493fc.f24d8c","x":144,"y":2644,"wires":[["b1383b0.c2e0cc8"]]},{"id":"b1383b0.c2e0cc8","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"bb012999.eb10e8","order":1,"width":0,"height":0,"gtype":"gage","title":"Pack SOC","label":"Percent","format":"{{value}}","min":"0","max":"100","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"20","seg2":"45","x":456,"y":2675,"wires":[]},{"id":"5cd0c669.e28bf8","type":"mqtt in","z":"f12bc43.5250638","name":"Cell Voltages","topic":"BMS/Cell Voltages","qos":"2","broker":"5e4493fc.f24d8c","x":109,"y":2767,"wires":[["b021d398.d3ba9"]]},{"id":"b021d398.d3ba9","type":"json","z":"f12bc43.5250638","name":"","property":"payload","action":"","pretty":false,"x":299,"y":2771,"wires":[["69a2cb22.bed224"]]},{"id":"69a2cb22.bed224","type":"function","z":"f12bc43.5250638","name":"","func":"var msg0 = {payload: msg.payload[0]};\nmsg1 = {payload: msg.payload[1]};\nmsg2 = {payload: msg.payload[2]};\nmsg3 = {payload: msg.payload[3]};\nmsg4 = {payload: msg.payload[4]};\nmsg5 = {payload: msg.payload[5]};\nmsg6 = {payload: msg.payload[6]};\nmsg7 = {payload: msg.payload[7]};\nmsg8 = {payload: msg.payload[8]};\nmsg9 = {payload: msg.payload[9]};\nmsg10 = {payload: msg.payload[10]};\nmsg11 = {payload: msg.payload[11]};\nmsg12 = {payload: msg.payload[12]};\nmsg13 = {payload: msg.payload[13]};\nmsg14 = {payload: msg.payload[14]};\nmsg15 = {payload: msg.payload[15]};\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6,\nmsg7, msg8, msg9, msg10, msg11, msg12, msg13,\nmsg14, msg15];\n","outputs":16,"noerr":0,"x":515,"y":2830,"wires":[["47ee1379.0d832c"],["132bc8c2.b0d6b7"],["5441c32f.9b329c"],["98b7d8b6.153378"],["3ea6be01.2c52e2"],["51e477a5.c0e088"],["e64194ad.568e08"],["5db0ee9b.a71e5"],["621fe937.974708"],["f944d90a.057718"],["1a04cef8.f237a1"],["7641b6b0.e48518"],["45e3b24d.72a42c"],["b566b951.f52e98"],["1f9c5067.e9859"],["171fbb26.296e35"]]},{"id":"47ee1379.0d832c","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"bb012999.eb10e8","order":2,"width":"2","height":"2","gtype":"gage","title":"Cell 1","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":763,"y":2710,"wires":[]},{"id":"132bc8c2.b0d6b7","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"bb012999.eb10e8","order":3,"width":"2","height":"2","gtype":"gage","title":"Cell 2","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":764,"y":2749,"wires":[]},{"id":"5441c32f.9b329c","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"bb012999.eb10e8","order":4,"width":"2","height":"2","gtype":"gage","title":"Cell 3","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":764,"y":2787,"wires":[]},{"id":"98b7d8b6.153378","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"bb012999.eb10e8","order":5,"width":"2","height":"2","gtype":"gage","title":"Cell 4","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":761,"y":2823,"wires":[]},{"id":"3ea6be01.2c52e2","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"bb012999.eb10e8","order":6,"width":"2","height":"2","gtype":"gage","title":"Cell 5","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":763,"y":2862,"wires":[]},{"id":"51e477a5.c0e088","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"bb012999.eb10e8","order":7,"width":"2","height":"2","gtype":"gage","title":"Cell 6","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":764,"y":2899,"wires":[]},{"id":"e64194ad.568e08","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"bb012999.eb10e8","order":8,"width":"2","height":"2","gtype":"gage","title":"Cell 7","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":763,"y":2935,"wires":[]},{"id":"5db0ee9b.a71e5","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"bb012999.eb10e8","order":9,"width":"2","height":"2","gtype":"gage","title":"Cell 8","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":768,"y":2969,"wires":[]},{"id":"621fe937.974708","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"bb012999.eb10e8","order":10,"width":"2","height":"2","gtype":"gage","title":"Cell 9","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":944,"y":2711,"wires":[]},{"id":"f944d90a.057718","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"bb012999.eb10e8","order":11,"width":"2","height":"2","gtype":"gage","title":"Cell 10","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":955,"y":2750,"wires":[]},{"id":"1a04cef8.f237a1","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"bb012999.eb10e8","order":12,"width":"2","height":"2","gtype":"gage","title":"Cell 11","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":955,"y":2788,"wires":[]},{"id":"7641b6b0.e48518","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"bb012999.eb10e8","order":13,"width":"2","height":"2","gtype":"gage","title":"Cell 12","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":952,"y":2824,"wires":[]},{"id":"45e3b24d.72a42c","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"bb012999.eb10e8","order":14,"width":"2","height":"2","gtype":"gage","title":"Cell 13","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":954,"y":2863,"wires":[]},{"id":"b566b951.f52e98","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"bb012999.eb10e8","order":15,"width":"2","height":"2","gtype":"gage","title":"Cell 14","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":955,"y":2900,"wires":[]},{"id":"1f9c5067.e9859","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"bb012999.eb10e8","order":16,"width":"2","height":"2","gtype":"gage","title":"Cell 15","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":954,"y":2936,"wires":[]},{"id":"171fbb26.296e35","type":"ui_gauge","z":"f12bc43.5250638","name":"","group":"bb012999.eb10e8","order":17,"width":"2","height":"2","gtype":"gage","title":"Cell 16","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":959,"y":2970,"wires":[]},{"id":"769f046b.de546c","type":"debug","z":"f12bc43.5250638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":523,"y":144,"wires":[]},{"id":"35f07d40.c8ba72","type":"mqtt in","z":"f12bc43.5250638","name":"Remote/Inverter_State","topic":"Remote/Inverter_State","qos":"2","broker":"5e4493fc.f24d8c","x":276,"y":152,"wires":[["769f046b.de546c"]]},{"id":"edddcb04.aa7198","type":"modbus-read","z":"c1a6078a.fc7988","name":"","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"4370","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"ed3e79e3.611cb8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":139,"y":84,"wires":[["7b4557f1.a23918"],[]]},{"id":"7b4557f1.a23918","type":"function","z":"c1a6078a.fc7988","name":"string to signed int16 scale / 10","func":"msg.payload = msg.payload[0]\nif ((msg.payload & 0x8000) > 0) {\n   msg.payload = msg.payload - 0x10000;\n}\nmsg.payload = parseFloat(msg.payload / 10).toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":399,"y":98,"wires":[["bd37f2aa.c461b"]]},{"id":"f793bd03.156c3","type":"function","z":"c1a6078a.fc7988","name":"modbus array to signed int32","func":"var lsb = msg.payload[0]\nvar msb = msg.payload[1]\nmsb = msb << 16\nmsg.payload = msb | lsb \nreturn msg;","outputs":1,"noerr":0,"x":431,"y":202,"wires":[["599b5824.446808","33c4c298.88501e"]]},{"id":"599b5824.446808","type":"debug","z":"c1a6078a.fc7988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":743,"y":210,"wires":[]},{"id":"bd37f2aa.c461b","type":"ui_gauge","z":"c1a6078a.fc7988","name":"","group":"e218958a.c25258","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"amps","format":"{{value}}","min":"-100","max":"100","colors":["#ca3838","#23b500","#ca3838"],"seg1":"-25","seg2":"25","x":743,"y":113,"wires":[]},{"id":"97945efb.3df92","type":"modbus-read","z":"c1a6078a.fc7988","name":"","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"4368","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"ed3e79e3.611cb8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":143,"y":212,"wires":[["f793bd03.156c3"],[]]},{"id":"33c4c298.88501e","type":"ui_text","z":"c1a6078a.fc7988","group":"e218958a.c25258","order":0,"width":0,"height":0,"name":"","label":"WbJrAmpHourNET","format":"{{msg.payload}}","layout":"row-spread","x":775,"y":266,"wires":[]}]