node-red/flows_inverterpi.json
[{"id":"8896ef9d.67784","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"43e7a847.06ed68","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fc1aa480.162e88","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"23c531f5.31ccae","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"1a201b45.af0aa5","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d32fb277.bfde1","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"d4692c33.05b0f","type":"ui_group","z":"","name":"Default","tab":"d32fb277.bfde1","order":1,"disp":true,"width":"6","collapse":false},{"id":"c2ac9180.0b92c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d607e533.d0b9b8","type":"modbus-client","z":"","name":"Midnite MPPT","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.2.2","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"8f25db12.4a89d8","type":"ui_tab","z":"","name":"Battery","icon":"dashboard","order":2},{"id":"8495468f.758448","type":"ui_group","name":"Group 2","tab":"d32fb277.bfde1","order":2,"disp":true,"width":6},{"id":"5b139e5.f49446","type":"ui_group","name":"Group 3","tab":"d32fb277.bfde1","order":4,"disp":true,"width":6},{"id":"a2e41bcc.76f128","type":"ui_group","name":"Group 4","tab":"d32fb277.bfde1","order":3,"disp":true,"width":6},{"id":"52b92daf.556bf4","type":"ui_group","name":"Group 5","tab":"d32fb277.bfde1","order":5,"disp":true,"width":6},{"id":"78043690.b288d8","type":"ui_group","name":"Group 6","tab":"d32fb277.bfde1","order":6,"disp":true,"width":6},{"id":"2d23d21c.db78fe","type":"ui_group","z":"","name":"LED Testing","tab":"4c75e479.81bb7c","disp":true,"width":"4"},{"id":"4c75e479.81bb7c","type":"ui_tab","z":"","name":"testing","icon":"dashboard","order":0},{"id":"235fd3fd.7fc7bc","type":"ui_group","name":"Group 7","tab":"d32fb277.bfde1","order":7,"disp":true,"width":6},{"id":"f1ba8f6f.4d2de","type":"ui_group","z":"","name":"Cell Voltages","tab":"8f25db12.4a89d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"73c834d9.f91f8c","type":"ui_tab","z":"","name":"Midnite","icon":"dashboard"},{"id":"51336a61.3700b4","type":"ui_group","z":"","name":"Default","tab":"73c834d9.f91f8c","disp":true,"width":"6","collapse":false},{"id":"1916d483.faa7bb","type":"ui_group","z":"","name":"General","tab":"8f25db12.4a89d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"30ddb4d6.9fb47c","type":"ui_group","z":"","name":"Internal Resistances","tab":"8f25db12.4a89d8","disp":true,"width":"6","collapse":false},{"id":"eef0eb1a.7fc308","type":"ui_group","z":"","name":"Open Cell Voltages","tab":"8f25db12.4a89d8","disp":true,"width":"6","collapse":true},{"id":"d52ccc8c.0c21e","type":"ui_group","z":"","name":"Default","tab":"4c75e479.81bb7c","disp":true,"width":"6","collapse":false},{"id":"2802d936.fd2d56","type":"mqtt in","z":"8896ef9d.67784","name":"","topic":"InverterCtrl/Inverter_State","qos":"2","broker":"1a201b45.af0aa5","x":150,"y":200,"wires":[["c8c88d60.7563d","e180e62e.fd66a8"]]},{"id":"c8c88d60.7563d","type":"ui_switch","z":"8896ef9d.67784","name":"","label":"Inverter","group":"d4692c33.05b0f","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"True","onvalueType":"str","onicon":"","oncolor":"","offvalue":"False","offvalueType":"str","officon":"","offcolor":"","x":360,"y":200,"wires":[["69f8888f.305b98","2ac244a5.26d6fc"]]},{"id":"69f8888f.305b98","type":"mqtt out","z":"8896ef9d.67784","name":"","topic":"InverterCtrl/Inverter_State/Set","qos":"2","retain":"true","broker":"1a201b45.af0aa5","x":610,"y":200,"wires":[]},{"id":"f839272f.4bd9e8","type":"debug","z":"8896ef9d.67784","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":740,"wires":[]},{"id":"bbbf2b8d.f365e8","type":"mqtt in","z":"8896ef9d.67784","name":"","topic":"Remote/+/IOMap","qos":"2","broker":"1a201b45.af0aa5","x":120,"y":800,"wires":[["36259d23.e92a32","4659abb3.befc84"]]},{"id":"36259d23.e92a32","type":"debug","z":"8896ef9d.67784","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":320,"y":800,"wires":[]},{"id":"4659abb3.befc84","type":"json","z":"8896ef9d.67784","name":"","property":"payload","action":"","pretty":false,"x":290,"y":760,"wires":[["f839272f.4bd9e8"]]},{"id":"24437fe0.8d352","type":"mqtt in","z":"8896ef9d.67784","name":"DC_volts","topic":"Inverter/DC_volts/Human","qos":"2","broker":"1a201b45.af0aa5","x":235,"y":950,"wires":[["5c443b13.5fba24"]]},{"id":"5c443b13.5fba24","type":"ui_gauge","z":"8896ef9d.67784","name":"","group":"5b139e5.f49446","order":1,"width":0,"height":0,"gtype":"gage","title":"DC Voltage","label":"Volts","format":"{{value}}","min":"44","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":907,"wires":[]},{"id":"5d7b9c49.119664","type":"ui_gauge","z":"8896ef9d.67784","name":"","group":"a2e41bcc.76f128","order":1,"width":0,"height":0,"gtype":"gage","title":"AC in","label":"Volts","format":"{{value}}","min":"90","max":"240","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":532,"y":1043,"wires":[]},{"id":"2caf7a4e.437376","type":"mqtt in","z":"8896ef9d.67784","name":"AC_volts_in","topic":"Inverter/AC_Volts_in/Human","qos":"2","broker":"1a201b45.af0aa5","x":240,"y":1032,"wires":[["5d7b9c49.119664"]]},{"id":"35707fb5.8fb5e","type":"ui_gauge","z":"8896ef9d.67784","name":"","group":"8495468f.758448","order":1,"width":0,"height":0,"gtype":"gage","title":"AC Out","label":"Volts","format":"{{value}}","min":"90","max":"130","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":549,"y":1141,"wires":[]},{"id":"cda4e27b.75ebe","type":"mqtt in","z":"8896ef9d.67784","name":"AC_volts_out","topic":"Inverter/AC_volts_out/Human","qos":"2","broker":"1a201b45.af0aa5","x":228,"y":1131,"wires":[["35707fb5.8fb5e"]]},{"id":"88bebd5b.ec60e","type":"ui_gauge","z":"8896ef9d.67784","name":"","group":"5b139e5.f49446","order":2,"width":0,"height":0,"gtype":"gage","title":"DC Current","label":"Amps","format":"{{value}}","min":"0","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":738,"y":1011,"wires":[]},{"id":"310b6759.118b48","type":"mqtt in","z":"8896ef9d.67784","name":"DC_amps","topic":"Inverter/DC_amps/Human","qos":"2","broker":"1a201b45.af0aa5","x":233,"y":996,"wires":[["88bebd5b.ec60e"]]},{"id":"2bc2bcfe.ba1514","type":"mqtt in","z":"8896ef9d.67784","name":"Inverter_Status","topic":"Inverter/Inverter_Status/Human","qos":"2","broker":"1a201b45.af0aa5","x":200,"y":140,"wires":[["8796eedf.ed4c9"]]},{"id":"8796eedf.ed4c9","type":"ui_text","z":"8896ef9d.67784","group":"d4692c33.05b0f","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":140,"wires":[]},{"id":"b877ea7.0bbd018","type":"ui_gauge","z":"8896ef9d.67784","name":"","group":"8495468f.758448","order":2,"width":0,"height":0,"gtype":"gage","title":"AC Current Out","label":"Amps","format":"{{value}}","min":"0","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":556,"y":1189,"wires":[]},{"id":"128ef01.2755f1","type":"mqtt in","z":"8896ef9d.67784","name":"AC_amps_out","topic":"Inverter/AC_amps_out/Human","qos":"2","broker":"1a201b45.af0aa5","x":234,"y":1178,"wires":[["b877ea7.0bbd018"]]},{"id":"724848f8.e40c58","type":"mqtt in","z":"8896ef9d.67784","name":"","topic":"InverterCtrl/Charger_State","qos":"2","broker":"1a201b45.af0aa5","x":130,"y":320,"wires":[["16d00a93.ed3995"]]},{"id":"16d00a93.ed3995","type":"ui_switch","z":"8896ef9d.67784","name":"","label":"Charger","group":"d4692c33.05b0f","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"True","onvalueType":"str","onicon":"","oncolor":"","offvalue":"False","offvalueType":"str","officon":"","offcolor":"","x":360,"y":320,"wires":[["69acda4e.01a934"]]},{"id":"69acda4e.01a934","type":"mqtt out","z":"8896ef9d.67784","name":"","topic":"InverterCtrl/Charger_State/Set","qos":"","retain":"true","broker":"1a201b45.af0aa5","x":650,"y":320,"wires":[]},{"id":"86500c64.ac82","type":"ui_gauge","z":"8896ef9d.67784","name":"","group":"a2e41bcc.76f128","order":2,"width":0,"height":0,"gtype":"gage","title":"AC Current in","label":"Amps","format":"{{value}}","min":"0","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":554,"y":1096,"wires":[]},{"id":"21ec0ff4.f2316","type":"mqtt in","z":"8896ef9d.67784","name":"AC_amps_in","topic":"Inverter/AC_amps_in/Human","qos":"2","broker":"1a201b45.af0aa5","x":232,"y":1085,"wires":[["86500c64.ac82"]]},{"id":"38a36736.e8e908","type":"mqtt in","z":"8896ef9d.67784","name":"Remote Hours","topic":"Remote/Hours","qos":"2","broker":"1a201b45.af0aa5","x":770,"y":140,"wires":[["e1c6dba3.3ba508"]]},{"id":"e1c6dba3.3ba508","type":"ui_text","z":"8896ef9d.67784","group":"d4692c33.05b0f","order":2,"width":"2","height":"1","name":"hour","label":"Time","format":"{{msg.payload}}","layout":"row-right","x":930,"y":140,"wires":[]},{"id":"1d083b23.4dd515","type":"ui_text","z":"8896ef9d.67784","group":"d4692c33.05b0f","order":3,"width":"2","height":"1","name":"Minutes","label":":","format":"{{msg.payload}}","layout":"row-left","x":1040,"y":180,"wires":[]},{"id":"ef8f8685.f202b8","type":"mqtt in","z":"8896ef9d.67784","name":"Remote Minutes","topic":"Remote/Minutes","qos":"2","broker":"1a201b45.af0aa5","x":860,"y":180,"wires":[["1d083b23.4dd515"]]},{"id":"865f5cd1.dc7d","type":"ui_numeric","z":"8896ef9d.67784","name":"","label":"{{msg.topic}}","group":"d4692c33.05b0f","order":10,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"10","step":"1","x":634,"y":1501,"wires":[["8150ec1c.02234","24eab3eb.3ee43c"]]},{"id":"8150ec1c.02234","type":"debug","z":"8896ef9d.67784","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":787,"y":1545,"wires":[]},{"id":"3c84997f.8bba96","type":"mqtt in","z":"8896ef9d.67784","name":"AC_shore_amps","topic":"Remote/AC_shore_amps/IOMap","qos":"2","broker":"1a201b45.af0aa5","x":113,"y":1528,"wires":[["29900a20.51b996"]]},{"id":"29900a20.51b996","type":"json","z":"8896ef9d.67784","name":"","property":"payload","action":"","pretty":false,"x":283,"y":1569,"wires":[["201bd366.d2c94c"]]},{"id":"201bd366.d2c94c","type":"function","z":"8896ef9d.67784","name":"json to numeric","func":"var current=parseFloat(msg.payload['Current']);\nvar scale=parseFloat(msg.payload['Scale']);\nvar steps=parseFloat(msg.payload['Steps']);\nvar max=parseFloat(msg.payload['Max']) * scale;\nvar min=parseFloat(msg.payload['Min']) * scale;\nvar topic = msg.topic.split(\"/\");\n\nvar newmsg = msg;\nnewmsg.payload = current;\nnewmsg.topic = topic[1];\nnewmsg._topic = topic[1];\nnewmsg.ui_control = {\"min\":min, \"max\":max, \"step\":steps};\n\n\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":441,"y":1514,"wires":[["865f5cd1.dc7d"]]},{"id":"7c65d503.07dc4c","type":"debug","z":"8896ef9d.67784","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":1440,"wires":[]},{"id":"c7aed151.ea86c","type":"debug","z":"8896ef9d.67784","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":596,"y":1792,"wires":[]},{"id":"af836439.7ed328","type":"json","z":"8896ef9d.67784","name":"","property":"payload","action":"","pretty":false,"x":270,"y":1758,"wires":[["8edeab0a.7e3d88","c7aed151.ea86c"]]},{"id":"b490ce8a.ea3c5","type":"ui_numeric","z":"8896ef9d.67784","name":"","label":"{{msg.topic}}","group":"d4692c33.05b0f","order":11,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"10","step":"1","x":621,"y":1690,"wires":[["e4f69170.d1893","c50019c4.82c038"]]},{"id":"db1bf89c.7a7168","type":"mqtt in","z":"8896ef9d.67784","name":"Charger_Amps","topic":"Remote/Charger_Amps/IOMap","qos":"2","broker":"1a201b45.af0aa5","x":100,"y":1717,"wires":[["af836439.7ed328"]]},{"id":"e4f69170.d1893","type":"debug","z":"8896ef9d.67784","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":774,"y":1734,"wires":[]},{"id":"8edeab0a.7e3d88","type":"function","z":"8896ef9d.67784","name":"json to numeric","func":"var current=parseFloat(msg.payload['Current']);\nvar scale=parseFloat(msg.payload['Scale']);\nvar steps=parseFloat(msg.payload['Steps']);\nvar max=parseFloat(msg.payload['Max']) * scale;\nvar min=parseFloat(msg.payload['Min']) * scale;\nvar topic = msg.topic.split(\"/\");\n\nvar newmsg = msg;\nnewmsg.payload = (current * scale).toFixed(1);\nnewmsg.topic = topic[1];\nnewmsg._topic = topic[1];\nnewmsg.ui_control = {\"min\":min, \"max\":max, \"step\":steps};\n\n\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":436,"y":1706,"wires":[["b490ce8a.ea3c5","c7aed151.ea86c"]]},{"id":"7410d991.89b158","type":"mqtt in","z":"8896ef9d.67784","name":"Float_Volts","topic":"Remote/Float_Volts/IOMap","qos":"2","broker":"1a201b45.af0aa5","x":85,"y":1889,"wires":[["8cacd072.17b9e"]]},{"id":"8cacd072.17b9e","type":"json","z":"8896ef9d.67784","name":"","property":"payload","action":"","pretty":false,"x":275,"y":1930,"wires":[["7be0c2c9.2093ac"]]},{"id":"7be0c2c9.2093ac","type":"function","z":"8896ef9d.67784","name":"json to numeric","func":"var current=parseInt(msg.payload['Current']);\nvar scale=parseFloat(msg.payload['Scale']);\nvar steps=parseFloat(msg.payload['Steps']);\nvar max=parseFloat(msg.payload['Max']) * scale;\nvar min=parseFloat(msg.payload['Min']) * scale;\nvar topic = msg.topic.split(\"/\");\n\nvar newmsg = msg;\nnewmsg.payload = (current * scale).toFixed(1);\nnewmsg.topic = topic[1];\nnewmsg._topic = topic[1];\nnewmsg.ui_control = {\"min\":min, \"max\":max, \"step\":steps};\n\n\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":441,"y":1878,"wires":[["863f56d4.096ae8","67c0933b.cc95ac"]]},{"id":"863f56d4.096ae8","type":"ui_numeric","z":"8896ef9d.67784","name":"","label":"Float_volts","group":"78043690.b288d8","order":1,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value | number:1}}","min":0,"max":"10","step":"1","x":636,"y":1862,"wires":[["67c0933b.cc95ac","8832e34d.cd11c"]]},{"id":"67c0933b.cc95ac","type":"debug","z":"8896ef9d.67784","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":558,"y":1948,"wires":[]},{"id":"8832e34d.cd11c","type":"mqtt out","z":"8896ef9d.67784","name":"","topic":"Remote/Float_Volts/Human","qos":"","retain":"true","broker":"1a201b45.af0aa5","x":861,"y":1918,"wires":[]},{"id":"26c06a12.479426","type":"rpi-gpio out","z":"8896ef9d.67784","name":"","pin":"13","set":"","level":"0","freq":"","out":"out","x":560,"y":2520,"wires":[]},{"id":"e6afb88c.ddcf18","type":"ui_switch","z":"8896ef9d.67784","name":"","label":"BMS Charge","group":"d4692c33.05b0f","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":390,"y":2440,"wires":[["7515af54.b5baf","4862ae65.1614b"]]},{"id":"9c5651bf.004c4","type":"mqtt in","z":"8896ef9d.67784","name":"remote","topic":"Remote/VAC_cut_out_voltage/IOMap","qos":"2","broker":"1a201b45.af0aa5","x":95,"y":1428,"wires":[["df958e34.adab3"]]},{"id":"df958e34.adab3","type":"json","z":"8896ef9d.67784","name":"","property":"payload","action":"","pretty":false,"x":234,"y":1450,"wires":[["3a0e0c14.06e674"]]},{"id":"3a0e0c14.06e674","type":"function","z":"8896ef9d.67784","name":"json to dropdown","func":"var table=msg.payload['Lookup_Table'];\nvar newmsg = {'topic': msg.topic};\nnewmsg.payload = msg.payload['Current']\nnewmsg.options = [];\nvar temp1, temp2;\nvar i=0;\nfor (var key in table) {\n    temp1 = key;\n    temp2 = table[key];\n    newmsg.options[i] = {};\n    newmsg.options[i][temp1] = temp2;\n    i=i+1;\n\n}\nreturn newmsg;\n","outputs":1,"noerr":0,"x":402,"y":1395,"wires":[["76af64c4.a6472c","7c65d503.07dc4c"]]},{"id":"76af64c4.a6472c","type":"ui_dropdown","z":"8896ef9d.67784","name":"","label":"","place":"Select option","group":"52b92daf.556bf4","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":605,"y":1383,"wires":[["30ad61e6.f2aa2e"]]},{"id":"30ad61e6.f2aa2e","type":"mqtt out","z":"8896ef9d.67784","name":"","topic":"Remote/VAC_cut_out_voltage/Default","qos":"","retain":"true","broker":"1a201b45.af0aa5","x":849,"y":1419,"wires":[]},{"id":"2b6702e3.329fae","type":"function","z":"8896ef9d.67784","name":"Test","func":"msg.color = (msg.payload === \"ON\")?\"lime\":\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":1011,"y":1825,"wires":[["cdbf4bdb.d3b758"]]},{"id":"a156e3d4.6bced","type":"inject","z":"8896ef9d.67784","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":851,"y":1805,"wires":[["2b6702e3.329fae"]]},{"id":"cdbf4bdb.d3b758","type":"ui_text","z":"8896ef9d.67784","group":"78043690.b288d8","order":3,"width":"3","height":"1","name":"","label":"LED","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":1191,"y":1825,"wires":[]},{"id":"ac74e4a7.1cbdd8","type":"inject","z":"8896ef9d.67784","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":851,"y":1845,"wires":[["2b6702e3.329fae"]]},{"id":"c50019c4.82c038","type":"mqtt out","z":"8896ef9d.67784","name":"","topic":"Remote/Charger_Amps/Human","qos":"","retain":"true","broker":"1a201b45.af0aa5","x":913,"y":1683,"wires":[]},{"id":"24eab3eb.3ee43c","type":"mqtt out","z":"8896ef9d.67784","name":"","topic":"Remote/AC_shore_amps/Human","qos":"","retain":"true","broker":"1a201b45.af0aa5","x":893,"y":1488,"wires":[]},{"id":"9f1d3972.4b7ab8","type":"mqtt in","z":"8896ef9d.67784","name":"Transformer_temp","topic":"Inverter/Transformer_temp/Human","qos":"2","broker":"1a201b45.af0aa5","x":258,"y":1242,"wires":[["79fa215.11155e"]]},{"id":"647c94a5.8963ec","type":"ui_gauge","z":"8896ef9d.67784","name":"","group":"235fd3fd.7fc7bc","order":2,"width":0,"height":0,"gtype":"gage","title":"FET temp","label":"Degrees C","format":"{{value}}","min":"0","max":"80","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"20","seg2":"45","x":523,"y":1298,"wires":[]},{"id":"62f07d3e.0bcc84","type":"mqtt in","z":"8896ef9d.67784","name":"FET_temp","topic":"Inverter/FET_temp/Human","qos":"2","broker":"1a201b45.af0aa5","x":211,"y":1287,"wires":[["647c94a5.8963ec"]]},{"id":"79fa215.11155e","type":"ui_gauge","z":"8896ef9d.67784","name":"","group":"235fd3fd.7fc7bc","order":2,"width":0,"height":0,"gtype":"gage","title":"Transformer temp","label":"Degrees C","format":"{{value}}","min":"0","max":"100","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"20","seg2":"45","x":562,"y":1249,"wires":[]},{"id":"ae7ae60c.a9f2e8","type":"mqtt out","z":"8896ef9d.67784","name":"","topic":"Remote/Battery_Type/Human","qos":"","retain":"true","broker":"1a201b45.af0aa5","x":898,"y":2108,"wires":[]},{"id":"53234bd.cceceb4","type":"json","z":"8896ef9d.67784","name":"","property":"payload","action":"","pretty":false,"x":255,"y":2183,"wires":[["84ff5ef7.6a26c"]]},{"id":"895d13a2.85dfa","type":"mqtt in","z":"8896ef9d.67784","name":"Battery_Type","topic":"Remote/Battery_Type/IOMap","qos":"2","broker":"1a201b45.af0aa5","x":75,"y":2142,"wires":[["53234bd.cceceb4"]]},{"id":"327f52d7.10144e","type":"ui_button","z":"8896ef9d.67784","name":"","group":"d4692c33.05b0f","order":7,"width":0,"height":0,"passthru":false,"label":"Eq mode","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"str","topic":"","x":380,"y":380,"wires":[["1118d2fe.14d5fd"]]},{"id":"1118d2fe.14d5fd","type":"mqtt out","z":"8896ef9d.67784","name":"","topic":"Remote/Inverter_State","qos":"","retain":"true","broker":"1a201b45.af0aa5","x":640,"y":380,"wires":[]},{"id":"84ff5ef7.6a26c","type":"function","z":"8896ef9d.67784","name":"json to numeric","func":"var current=parseInt(msg.payload['Current']);\nvar scale=parseFloat(msg.payload['Scale']);\nvar steps=parseFloat(msg.payload['Steps']);\nvar max=parseFloat(msg.payload['Max']) * scale;\nvar min=parseFloat(msg.payload['Min']) * scale;\nvar topic = msg.topic.split(\"/\");\n\nvar newmsg = msg;\nnewmsg.payload = (current * scale).toFixed(1);\nnewmsg.topic = topic[1];\nnewmsg._topic = topic[1];\nnewmsg.ui_control = {\"min\":min, \"max\":max, \"step\":steps};\n\n\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":402,"y":2135,"wires":[["6c1e5c75.06bfa4"]]},{"id":"6c1e5c75.06bfa4","type":"ui_numeric","z":"8896ef9d.67784","name":"","label":"Bulk_volts","group":"78043690.b288d8","order":1,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value | number:1}}","min":0,"max":"10","step":"1","x":597,"y":2119,"wires":[["ae7ae60c.a9f2e8"]]},{"id":"c08232d3.3d22c","type":"mqtt in","z":"8896ef9d.67784","name":"Search_watts","topic":"Remote/Search_watts/IOMap","qos":"2","broker":"1a201b45.af0aa5","x":78,"y":2288,"wires":[["f62ef9c1.bfa788"]]},{"id":"f62ef9c1.bfa788","type":"json","z":"8896ef9d.67784","name":"","property":"payload","action":"","pretty":false,"x":260,"y":2279,"wires":[["ce72d517.2a3428"]]},{"id":"ce72d517.2a3428","type":"function","z":"8896ef9d.67784","name":"json to numeric","func":"var current=parseFloat(msg.payload['Default']);\nvar scale=parseFloat(msg.payload['Scale']);\nvar steps=parseFloat(msg.payload['Steps']);\nvar max=parseFloat(msg.payload['Max']) * scale;\nvar min=parseFloat(msg.payload['Min']) * scale;\nvar topic = msg.topic.split(\"/\");\n\nvar newmsg = msg;\nnewmsg.payload = (current * scale).toFixed(1);\nnewmsg.topic = topic[1];\nnewmsg._topic = topic[1];\nnewmsg.ui_control = {\"min\":min, \"max\":max, \"step\":steps};\n\n\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":424,"y":2298,"wires":[["b29d7535.9f3718"]]},{"id":"b29d7535.9f3718","type":"ui_numeric","z":"8896ef9d.67784","name":"","label":"Search_watts","group":"d4692c33.05b0f","order":12,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"10","step":"1","x":629,"y":2282,"wires":[["a4424286.ab65d"]]},{"id":"a4424286.ab65d","type":"mqtt out","z":"8896ef9d.67784","name":"","topic":"Remote/Search_watts/Default","qos":"","retain":"true","broker":"1a201b45.af0aa5","x":967,"y":2317,"wires":[]},{"id":"8af0df2e.c3d75","type":"rpi-gpio out","z":"8896ef9d.67784","name":"","pin":"15","set":"","level":"0","freq":"","out":"out","x":551,"y":1990,"wires":[]},{"id":"fae581c7.0c921","type":"ui_switch","z":"8896ef9d.67784","name":"","label":"GPIO17","group":"d4692c33.05b0f","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":294,"y":1995,"wires":[["8af0df2e.c3d75"]]},{"id":"18bd58a9.739007","type":"modbus-read","z":"43e7a847.06ed68","name":"","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"4370","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"d607e533.d0b9b8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":139,"y":84,"wires":[["5dbd817c.c7723"],[]]},{"id":"5dbd817c.c7723","type":"function","z":"43e7a847.06ed68","name":"string to signed int16 scale / 10","func":"msg.payload = msg.payload[0]\nif ((msg.payload & 0x8000) > 0) {\n   msg.payload = msg.payload - 0x10000;\n}\nmsg.payload = parseFloat(msg.payload / 10).toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":399,"y":98,"wires":[["c36c1d53.3ae34"]]},{"id":"53074c6a.8539e4","type":"function","z":"43e7a847.06ed68","name":"modbus array to signed int32","func":"var lsb = msg.payload[0]\nvar msb = msg.payload[1]\nmsb = msb << 16\nmsg.payload = msb | lsb \nreturn msg;","outputs":1,"noerr":0,"x":431,"y":202,"wires":[["40d3e0b0.fdc5d","e20a565d.3ecf28"]]},{"id":"40d3e0b0.fdc5d","type":"debug","z":"43e7a847.06ed68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":743,"y":210,"wires":[]},{"id":"c36c1d53.3ae34","type":"ui_gauge","z":"43e7a847.06ed68","name":"","group":"51336a61.3700b4","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"amps","format":"{{value}}","min":"-100","max":"100","colors":["#ca3838","#23b500","#ca3838"],"seg1":"-25","seg2":"25","x":743,"y":113,"wires":[]},{"id":"b22d9098.70dee","type":"modbus-read","z":"43e7a847.06ed68","name":"","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"4368","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"d607e533.d0b9b8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":143,"y":212,"wires":[["53074c6a.8539e4"],[]]},{"id":"e20a565d.3ecf28","type":"ui_text","z":"43e7a847.06ed68","group":"51336a61.3700b4","order":0,"width":0,"height":0,"name":"","label":"WbJrAmpHourNET","format":"{{msg.payload}}","layout":"row-spread","x":775,"y":266,"wires":[]},{"id":"950391bb.3ae23","type":"mqtt in","z":"fc1aa480.162e88","name":"","topic":"BMS/Cell Voltages","qos":"2","broker":"1a201b45.af0aa5","x":190,"y":420,"wires":[["b1339003.091e8"]]},{"id":"b1339003.091e8","type":"json","z":"fc1aa480.162e88","name":"","property":"payload","action":"","pretty":false,"x":150,"y":480,"wires":[["180507de.8de808"]]},{"id":"180507de.8de808","type":"function","z":"fc1aa480.162e88","name":"","func":"var msg0 = {payload: msg.payload[0]};\nmsg1 = {payload: msg.payload[1]};\nmsg2 = {payload: msg.payload[2]};\nmsg3 = {payload: msg.payload[3]};\nmsg4 = {payload: msg.payload[4]};\nmsg5 = {payload: msg.payload[5]};\nmsg6 = {payload: msg.payload[6]};\nmsg7 = {payload: msg.payload[7]};\nmsg8 = {payload: msg.payload[8]};\nmsg9 = {payload: msg.payload[9]};\nmsg10 = {payload: msg.payload[10]};\nmsg11 = {payload: msg.payload[11]};\nmsg12 = {payload: msg.payload[12]};\nmsg13 = {payload: msg.payload[13]};\nmsg14 = {payload: msg.payload[14]};\nmsg15 = {payload: msg.payload[15]};\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6,\nmsg7, msg8, msg9, msg10, msg11, msg12, msg13,\nmsg14, msg15];\n","outputs":16,"noerr":0,"x":150,"y":660,"wires":[["852857c1.8e12a8"],["3f1a1e5c.9acc52"],["93ea994d.bfff88"],["d2f3bcfa.cbe04"],["e9ecf1ee.b7cee"],["109bb8ed.77f647"],["4a3f4fc4.bafb1"],["97399745.3e5fc8"],["85f52700.261348"],["abc44237.6dfac"],["ab1cd3de.4a2a1"],["225bd7cd.241078"],["83a23e3c.9c4b1"],["82a35c1c.c24ac"],["f9ebefb0.3f90f"],["78b1b447.81691c"]]},{"id":"852857c1.8e12a8","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":6,"width":"2","height":"2","gtype":"gage","title":"Cell 1","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":304,"y":483,"wires":[]},{"id":"3f1a1e5c.9acc52","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":7,"width":"2","height":"2","gtype":"gage","title":"Cell 2","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":305,"y":522,"wires":[]},{"id":"93ea994d.bfff88","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":8,"width":"2","height":"2","gtype":"gage","title":"Cell 3","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":305,"y":560,"wires":[]},{"id":"d2f3bcfa.cbe04","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":9,"width":"2","height":"2","gtype":"gage","title":"Cell 4","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":302,"y":596,"wires":[]},{"id":"e9ecf1ee.b7cee","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":10,"width":"2","height":"2","gtype":"gage","title":"Cell 5","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":304,"y":635,"wires":[]},{"id":"109bb8ed.77f647","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":11,"width":"2","height":"2","gtype":"gage","title":"Cell 6","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":305,"y":672,"wires":[]},{"id":"4a3f4fc4.bafb1","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":12,"width":"2","height":"2","gtype":"gage","title":"Cell 7","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":304,"y":708,"wires":[]},{"id":"97399745.3e5fc8","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":13,"width":"2","height":"2","gtype":"gage","title":"Cell 8","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":309,"y":742,"wires":[]},{"id":"78b1b447.81691c","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":21,"width":"2","height":"2","gtype":"gage","title":"Cell 16","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":500,"y":743,"wires":[]},{"id":"f9ebefb0.3f90f","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":20,"width":"2","height":"2","gtype":"gage","title":"Cell 15","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":495,"y":709,"wires":[]},{"id":"82a35c1c.c24ac","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":19,"width":"2","height":"2","gtype":"gage","title":"Cell 14","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":496,"y":673,"wires":[]},{"id":"83a23e3c.9c4b1","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":18,"width":"2","height":"2","gtype":"gage","title":"Cell 13","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":495,"y":636,"wires":[]},{"id":"225bd7cd.241078","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":17,"width":"2","height":"2","gtype":"gage","title":"Cell 12","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":493,"y":597,"wires":[]},{"id":"ab1cd3de.4a2a1","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":16,"width":"2","height":"2","gtype":"gage","title":"Cell 11","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":496,"y":561,"wires":[]},{"id":"abc44237.6dfac","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":15,"width":"2","height":"2","gtype":"gage","title":"Cell 10","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":496,"y":523,"wires":[]},{"id":"85f52700.261348","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":14,"width":"2","height":"2","gtype":"gage","title":"Cell 9","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":485,"y":484,"wires":[]},{"id":"4b985b1b.f76fb4","type":"mqtt in","z":"fc1aa480.162e88","name":"Pack State of Charge","topic":"BMS/Pack State of Charge","qos":"0","broker":"1a201b45.af0aa5","x":180,"y":40,"wires":[["9314c76.90c5a38"]]},{"id":"9314c76.90c5a38","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"1916d483.faa7bb","order":1,"width":0,"height":0,"gtype":"gage","title":"Pack SOC","label":"Percent","format":"{{value}}","min":"0","max":"100","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"20","seg2":"95","x":490,"y":40,"wires":[]},{"id":"18202769.a94b59","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"1916d483.faa7bb","order":2,"width":0,"height":0,"gtype":"gage","title":"Pack voltage","label":"Volts","format":"{{value}}","min":"48","max":"60","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"52","seg2":"58","x":490,"y":80,"wires":[]},{"id":"b3ba5842.c648a8","type":"mqtt in","z":"fc1aa480.162e88","name":"Pack Summed Voltage","topic":"BMS/Pack Summed Voltage","qos":"0","broker":"1a201b45.af0aa5","x":180,"y":80,"wires":[["18202769.a94b59"]]},{"id":"b81a6dc5.1c992","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"1916d483.faa7bb","order":3,"width":"3","height":"3","gtype":"gage","title":"Current","label":"amps","format":"{{value}}","min":"-100","max":"100","colors":["#ca3838","#23b500","#ca3838"],"seg1":"-25","seg2":"25","x":560,"y":260,"wires":[]},{"id":"51061666.e29af8","type":"function","z":"fc1aa480.162e88","name":"string to signed int16 scale / 10","func":"msg.payload = msg.payload[0]\nif ((msg.payload & 0x8000) > 0) {\n   msg.payload = msg.payload - 0x10000;\n}\nmsg.payload = parseFloat(msg.payload / 10).toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["b81a6dc5.1c992"]]},{"id":"d9b6e87f.7a49a8","type":"modbus-read","z":"fc1aa480.162e88","name":"","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"4370","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"d607e533.d0b9b8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":106,"y":271,"wires":[["51061666.e29af8"],[]]},{"id":"6b977bb1.06ff14","type":"modbus-read","z":"fc1aa480.162e88","name":"","topic":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"4368","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"d607e533.d0b9b8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":320,"wires":[["98d5fc39.f926b"],[]]},{"id":"98d5fc39.f926b","type":"function","z":"fc1aa480.162e88","name":"modbus array to signed int32","func":"var lsb = msg.payload[0]\nvar msb = msg.payload[1]\nmsb = msb << 16\nmsg.payload = msb | lsb \nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["c1d668ee.0bec28"]]},{"id":"c1d668ee.0bec28","type":"ui_text","z":"fc1aa480.162e88","group":"1916d483.faa7bb","order":5,"width":0,"height":0,"name":"","label":"WbJrAmpHourNET","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":320,"wires":[]},{"id":"fd191944.527148","type":"mqtt in","z":"fc1aa480.162e88","name":"Highest Cell Voltage","topic":"BMS/Highest Cell Voltage","qos":"2","broker":"1a201b45.af0aa5","x":850,"y":80,"wires":[["b93a3d05.55618"]]},{"id":"b93a3d05.55618","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":4,"width":"2","height":"2","gtype":"gage","title":"Highest","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":1040,"y":80,"wires":[]},{"id":"45e16110.82778","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":5,"width":"2","height":"2","gtype":"gage","title":"Lowest","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":1040,"y":120,"wires":[]},{"id":"fa810f9.c37a0f","type":"mqtt in","z":"fc1aa480.162e88","name":"Lowest Cell Voltage","topic":"BMS/Lowest Cell Voltage","qos":"2","broker":"1a201b45.af0aa5","x":850,"y":120,"wires":[["45e16110.82778"]]},{"id":"1225ccd9.3d7393","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"1916d483.faa7bb","order":4,"width":"3","height":"3","gtype":"gage","title":"Charge Current Limit","label":"Amps","format":"{{value}}","min":"0","max":"70","colors":["#ca3838","#f4fa04","#00b500"],"seg1":"15","seg2":"40","x":500,"y":140,"wires":[]},{"id":"40967ebc.a8809","type":"mqtt in","z":"fc1aa480.162e88","name":"Pack Charge Current Limit","topic":"BMS/Pack Charge Current Limit","qos":"0","broker":"1a201b45.af0aa5","x":170,"y":140,"wires":[["1225ccd9.3d7393"]]},{"id":"ed80717b.fc812","type":"mqtt in","z":"fc1aa480.162e88","name":"Cell Temperatures","topic":"BMS/Raw Temperature","qos":"2","broker":"1a201b45.af0aa5","x":890,"y":620,"wires":[["1b5c9d62.db6583"]]},{"id":"1b5c9d62.db6583","type":"json","z":"fc1aa480.162e88","name":"","property":"payload","action":"","pretty":false,"x":850,"y":680,"wires":[["35bbc5f8.74251a"]]},{"id":"35bbc5f8.74251a","type":"function","z":"fc1aa480.162e88","name":"","func":"var msg0 = {payload: msg.payload[0]};\nmsg1 = {payload: msg.payload[1]};\nmsg2 = {payload: msg.payload[2]};\nmsg3 = {payload: msg.payload[3]};\nmsg4 = {payload: msg.payload[4]};\nmsg5 = {payload: msg.payload[5]};\nmsg6 = {payload: msg.payload[6]};\nmsg7 = {payload: msg.payload[7]};\nmsg8 = {payload: msg.payload[8]};\nmsg9 = {payload: msg.payload[9]};\nmsg10 = {payload: msg.payload[10]};\nmsg11 = {payload: msg.payload[11]};\nmsg12 = {payload: msg.payload[12]};\nmsg13 = {payload: msg.payload[13]};\nmsg14 = {payload: msg.payload[14]};\nmsg15 = {payload: msg.payload[15]};\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6,\nmsg7, msg8, msg9, msg10, msg11, msg12, msg13,\nmsg14, msg15];\n","outputs":16,"noerr":0,"x":850,"y":860,"wires":[["709dadb6.4f77b4"],["81fad87b.6ccfe8"],["3d91a5af.c469da"],[],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"709dadb6.4f77b4","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":1,"width":"2","height":"2","gtype":"gage","title":"temp 1","label":"Celsius","format":"{{value}}","min":"-40","max":"80","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"5","seg2":"40","x":1004,"y":683,"wires":[]},{"id":"81fad87b.6ccfe8","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":2,"width":"2","height":"2","gtype":"gage","title":"temp 2","label":"Celsius","format":"{{value}}","min":"-40","max":"80","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"5","seg2":"40","x":1010,"y":720,"wires":[]},{"id":"3d91a5af.c469da","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"f1ba8f6f.4d2de","order":3,"width":"2","height":"2","gtype":"gage","title":"temp 3","label":"Celsius","format":"{{value}}","min":"-40","max":"80","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"5","seg2":"40","x":1010,"y":760,"wires":[]},{"id":"b4aff411.960c08","type":"ui_text_input","z":"8896ef9d.67784","name":"","label":"Force Charge","group":"d4692c33.05b0f","order":0,"width":0,"height":0,"passthru":false,"mode":"number","delay":"0","topic":"","x":480,"y":2640,"wires":[["dca89342.487a5"]]},{"id":"dca89342.487a5","type":"mqtt out","z":"8896ef9d.67784","name":"","topic":"Remote/Parallel_threshold_Force_Charge","qos":"","retain":"true","broker":"1a201b45.af0aa5","x":800,"y":2640,"wires":[]},{"id":"5c803581.c1e1ec","type":"mqtt in","z":"8896ef9d.67784","name":"Parallel_threshold_Force_Charge/Current","topic":"Remote/Parallel_threshold_Force_Charge","qos":"2","broker":"1a201b45.af0aa5","x":180,"y":2620,"wires":[["b4aff411.960c08"]]},{"id":"2ac244a5.26d6fc","type":"debug","z":"8896ef9d.67784","name":"out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":260,"wires":[]},{"id":"e180e62e.fd66a8","type":"debug","z":"8896ef9d.67784","name":"in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":260,"wires":[]},{"id":"20ce012c.26ca1e","type":"mqtt out","z":"8896ef9d.67784","name":"","topic":"InverterCtrl/Search_State/Set","qos":"2","retain":"true","broker":"1a201b45.af0aa5","x":660,"y":440,"wires":[]},{"id":"e1542134.75d28","type":"ui_switch","z":"8896ef9d.67784","name":"","label":"SearchMode","group":"d4692c33.05b0f","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"True","onvalueType":"str","onicon":"","oncolor":"","offvalue":"False","offvalueType":"str","officon":"","offcolor":"","x":390,"y":440,"wires":[["20ce012c.26ca1e"]]},{"id":"94a71b48.8747a8","type":"mqtt in","z":"8896ef9d.67784","name":"","topic":"InverterCtrl/Search_State","qos":"2","broker":"1a201b45.af0aa5","x":150,"y":440,"wires":[["e1542134.75d28"]]},{"id":"4160d0a2.93a14","type":"mqtt out","z":"8896ef9d.67784","name":"","topic":"InverterCtrl/Disable_AC_In/Set","qos":"2","retain":"true","broker":"1a201b45.af0aa5","x":670,"y":500,"wires":[]},{"id":"a9e0c60a.460ed8","type":"ui_switch","z":"8896ef9d.67784","name":"","label":"Disable_AC_In","group":"d4692c33.05b0f","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"True","onvalueType":"str","onicon":"","oncolor":"","offvalue":"False","offvalueType":"str","officon":"","offcolor":"","x":400,"y":500,"wires":[["4160d0a2.93a14"]]},{"id":"4fa4c032.a9333","type":"mqtt in","z":"8896ef9d.67784","name":"","topic":"InverterCtrl/Disable_AC_In","qos":"2","broker":"1a201b45.af0aa5","x":150,"y":500,"wires":[["a9e0c60a.460ed8"]]},{"id":"65df9281.6a092c","type":"inject","z":"8896ef9d.67784","name":"","topic":"","payload":"True","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":400,"wires":[["20ce012c.26ca1e"]]},{"id":"b125415.f86edc","type":"mqtt in","z":"fc1aa480.162e88","name":"","topic":"BMS/Internal Resistances","qos":"2","broker":"1a201b45.af0aa5","x":230,"y":920,"wires":[["7926ec1b.def114"]]},{"id":"7926ec1b.def114","type":"json","z":"fc1aa480.162e88","name":"","property":"payload","action":"","pretty":false,"x":170,"y":980,"wires":[["44023853.f291c8"]]},{"id":"44023853.f291c8","type":"function","z":"fc1aa480.162e88","name":"","func":"var msg0 = {payload: msg.payload[0]};\nmsg1 = {payload: msg.payload[1]};\nmsg2 = {payload: msg.payload[2]};\nmsg3 = {payload: msg.payload[3]};\nmsg4 = {payload: msg.payload[4]};\nmsg5 = {payload: msg.payload[5]};\nmsg6 = {payload: msg.payload[6]};\nmsg7 = {payload: msg.payload[7]};\nmsg8 = {payload: msg.payload[8]};\nmsg9 = {payload: msg.payload[9]};\nmsg10 = {payload: msg.payload[10]};\nmsg11 = {payload: msg.payload[11]};\nmsg12 = {payload: msg.payload[12]};\nmsg13 = {payload: msg.payload[13]};\nmsg14 = {payload: msg.payload[14]};\nmsg15 = {payload: msg.payload[15]};\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6,\nmsg7, msg8, msg9, msg10, msg11, msg12, msg13,\nmsg14, msg15];\n","outputs":16,"noerr":0,"x":170,"y":1160,"wires":[["8dbb6b77.b60498"],["3858618e.93deae"],["a2eb0ea5.9decf"],["490dc7bb.06a768"],["e3b36073.11f7b"],["92225213.b062b"],["c5bf800c.403db"],["8cbfd830.bafdd8"],["855618df.bbba88"],["96739647.685e28"],["80252610.938c68"],["c9803522.712838"],["42ba6f98.93e29"],["4bf3855.581287c"],["a6c1d5e.1b23328"],["e96f99c3.c2a178"]]},{"id":"8dbb6b77.b60498","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"30ddb4d6.9fb47c","order":6,"width":"2","height":"2","gtype":"gage","title":"Cell 1","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":324,"y":983,"wires":[]},{"id":"c4fa50ef.8d3c7","type":"mqtt in","z":"fc1aa480.162e88","name":"","topic":"BMS/Open Cell Voltages","qos":"2","broker":"1a201b45.af0aa5","x":190,"y":1320,"wires":[["9af7e04a.32c88"]]},{"id":"9af7e04a.32c88","type":"json","z":"fc1aa480.162e88","name":"","property":"payload","action":"","pretty":false,"x":170,"y":1460,"wires":[["53cf2937.b48228","d9134630.60cc38"]]},{"id":"53cf2937.b48228","type":"function","z":"fc1aa480.162e88","name":"test","func":"var msgout = [];\nvar test = {};\nfor(var i =0 ; i <= 15; i++){\n    msgout.push({payload: msg.payload[i],\n        topic: 'Cell ' + String(i+1),\n        units: 'Volts',\n    });\n}\n\nreturn msgout;","outputs":16,"noerr":0,"x":310,"y":1580,"wires":[["d0117050.41dd","d9134630.60cc38"],["8f83908e.0a19f"],["c4bd18bd.821628"],["48a577f6.14f7e8"],["c4d80860.2e8a88"],["e1d5b1cc.0d83b"],["331286a0.43e0ba"],["a8977dd8.c3814"],["e09eb969.bd9388"],["5c1c5536.5fe96c"],["3d7a6b6b.db0254"],["e6bb8ea7.a5567"],["15f04595.f78a7a"],["a8241fc1.ab443"],["6d0e7aea.363454"],["68a2eb55.ef1444"]]},{"id":"d0117050.41dd","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"eef0eb1a.7fc308","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":450,"y":1420,"wires":[]},{"id":"3858618e.93deae","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"30ddb4d6.9fb47c","order":7,"width":"2","height":"2","gtype":"gage","title":"Cell 2","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":330,"y":1020,"wires":[]},{"id":"a2eb0ea5.9decf","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"30ddb4d6.9fb47c","order":8,"width":"2","height":"2","gtype":"gage","title":"Cell 3","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":330,"y":1060,"wires":[]},{"id":"490dc7bb.06a768","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"30ddb4d6.9fb47c","order":9,"width":"2","height":"2","gtype":"gage","title":"Cell 4","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":327,"y":1094,"wires":[]},{"id":"e3b36073.11f7b","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"30ddb4d6.9fb47c","order":10,"width":"2","height":"2","gtype":"gage","title":"Cell 5","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":344,"y":1135,"wires":[]},{"id":"92225213.b062b","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"30ddb4d6.9fb47c","order":11,"width":"2","height":"2","gtype":"gage","title":"Cell 6","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":350,"y":1160,"wires":[]},{"id":"c5bf800c.403db","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"30ddb4d6.9fb47c","order":12,"width":"2","height":"2","gtype":"gage","title":"Cell 7","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":364,"y":1208,"wires":[]},{"id":"8cbfd830.bafdd8","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"30ddb4d6.9fb47c","order":13,"width":"2","height":"2","gtype":"gage","title":"Cell 8","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":369,"y":1242,"wires":[]},{"id":"e96f99c3.c2a178","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"30ddb4d6.9fb47c","order":21,"width":"2","height":"2","gtype":"gage","title":"Cell 16","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":560,"y":1243,"wires":[]},{"id":"a6c1d5e.1b23328","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"30ddb4d6.9fb47c","order":20,"width":"2","height":"2","gtype":"gage","title":"Cell 15","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":555,"y":1209,"wires":[]},{"id":"4bf3855.581287c","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"30ddb4d6.9fb47c","order":19,"width":"2","height":"2","gtype":"gage","title":"Cell 14","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":536,"y":1173,"wires":[]},{"id":"42ba6f98.93e29","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"30ddb4d6.9fb47c","order":18,"width":"2","height":"2","gtype":"gage","title":"Cell 13","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":520,"y":1134,"wires":[]},{"id":"c9803522.712838","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"30ddb4d6.9fb47c","order":17,"width":"2","height":"2","gtype":"gage","title":"Cell 12","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":518,"y":1095,"wires":[]},{"id":"80252610.938c68","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"30ddb4d6.9fb47c","order":16,"width":"2","height":"2","gtype":"gage","title":"Cell 11","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":521,"y":1059,"wires":[]},{"id":"96739647.685e28","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"30ddb4d6.9fb47c","order":15,"width":"2","height":"2","gtype":"gage","title":"Cell 10","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":521,"y":1021,"wires":[]},{"id":"855618df.bbba88","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"30ddb4d6.9fb47c","order":14,"width":"2","height":"2","gtype":"gage","title":"Cell 9","label":"Volts","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":510,"y":982,"wires":[]},{"id":"d9134630.60cc38","type":"debug","z":"fc1aa480.162e88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":480,"y":1340,"wires":[]},{"id":"4fb3763e.91a978","type":"function","z":"fc1aa480.162e88","name":"test","func":"var msg = [];\nvar test = {};\nvar msg0 = {payload: msg.payload[0]};\nfor(var i =0 ; i <= 15; i++){\n    msg.push(test);\n}\n\nreturn msg0;","outputs":16,"noerr":0,"x":210,"y":1900,"wires":[[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"c4bd18bd.821628","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"eef0eb1a.7fc308","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":450,"y":1460,"wires":[]},{"id":"c4d80860.2e8a88","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"eef0eb1a.7fc308","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":450,"y":1500,"wires":[]},{"id":"331286a0.43e0ba","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"eef0eb1a.7fc308","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":450,"y":1540,"wires":[]},{"id":"e09eb969.bd9388","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"eef0eb1a.7fc308","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":450,"y":1580,"wires":[]},{"id":"3d7a6b6b.db0254","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"eef0eb1a.7fc308","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":451,"y":1624,"wires":[]},{"id":"15f04595.f78a7a","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"eef0eb1a.7fc308","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":450,"y":1660,"wires":[]},{"id":"6d0e7aea.363454","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"eef0eb1a.7fc308","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":450,"y":1700,"wires":[]},{"id":"8f83908e.0a19f","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"eef0eb1a.7fc308","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":590,"y":1420,"wires":[]},{"id":"48a577f6.14f7e8","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"eef0eb1a.7fc308","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":590,"y":1460,"wires":[]},{"id":"e1d5b1cc.0d83b","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"eef0eb1a.7fc308","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":590,"y":1500,"wires":[]},{"id":"a8977dd8.c3814","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"eef0eb1a.7fc308","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":590,"y":1540,"wires":[]},{"id":"5c1c5536.5fe96c","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"eef0eb1a.7fc308","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":590,"y":1580,"wires":[]},{"id":"e6bb8ea7.a5567","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"eef0eb1a.7fc308","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":590,"y":1620,"wires":[]},{"id":"a8241fc1.ab443","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"eef0eb1a.7fc308","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":590,"y":1660,"wires":[]},{"id":"68a2eb55.ef1444","type":"ui_gauge","z":"fc1aa480.162e88","name":"","group":"eef0eb1a.7fc308","order":6,"width":"2","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{value}}","min":"2.8","max":"3.8","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"3","seg2":"3.6","x":590,"y":1700,"wires":[]},{"id":"8357c682.7c5378","type":"mqtt in","z":"8896ef9d.67784","name":"","topic":"Control/BMS_Charge","qos":"2","broker":"1a201b45.af0aa5","x":160,"y":2400,"wires":[["e6afb88c.ddcf18","c5240e3c.12f12"]]},{"id":"7515af54.b5baf","type":"mqtt out","z":"8896ef9d.67784","name":"","topic":"Control/BMS_Charge","qos":"","retain":"true","broker":"1a201b45.af0aa5","x":680,"y":2380,"wires":[]},{"id":"ca733f79.73056","type":"mqtt in","z":"8896ef9d.67784","name":"","topic":"Control/BMS_Charge","qos":"2","broker":"1a201b45.af0aa5","x":160,"y":2520,"wires":[["26c06a12.479426"]]},{"id":"c5240e3c.12f12","type":"debug","z":"8896ef9d.67784","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":2360,"wires":[]},{"id":"4862ae65.1614b","type":"debug","z":"8896ef9d.67784","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":2460,"wires":[]},{"id":"df74554a.b72fd8","type":"change","z":"8896ef9d.67784","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":2800,"wires":[[]]},{"id":"930536d2.186928","type":"mqtt in","z":"23c531f5.31ccae","name":"","topic":"48vCharger/set_voltage/send","qos":"2","broker":"1a201b45.af0aa5","x":254,"y":40,"wires":[["8e82b27a.1371d"]]},{"id":"8e82b27a.1371d","type":"ui_numeric","z":"23c531f5.31ccae","name":"","label":"Set Voltage","group":"d52ccc8c.0c21e","order":11,"width":"4","height":"1","passthru":false,"topic":"","format":"{{value}}","min":0,"max":"60","step":".1","x":656,"y":48,"wires":[["a9a7c368.96ea8"]]},{"id":"a9a7c368.96ea8","type":"mqtt out","z":"23c531f5.31ccae","name":"","topic":"48vCharger/set_voltage/send","qos":"","retain":"true","broker":"1a201b45.af0aa5","x":931,"y":52,"wires":[]},{"id":"3448345e.3628ac","type":"mqtt in","z":"23c531f5.31ccae","name":"","topic":"48vCharger/set_output/send","qos":"2","broker":"1a201b45.af0aa5","x":252,"y":204,"wires":[["4aa48253.d1c90c"]]},{"id":"5c7fd760.1774d8","type":"mqtt out","z":"23c531f5.31ccae","name":"","topic":"48vCharger/set_output/send","qos":"","retain":"true","broker":"1a201b45.af0aa5","x":946,"y":202,"wires":[]},{"id":"4aa48253.d1c90c","type":"ui_switch","z":"23c531f5.31ccae","name":"","label":"Output","group":"d52ccc8c.0c21e","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":647,"y":205,"wires":[["5c7fd760.1774d8"]]},{"id":"deec7d80.94d3","type":"mqtt out","z":"23c531f5.31ccae","name":"","topic":"48vCharger/read_actual_voltage/send","qos":"","retain":"true","broker":"1a201b45.af0aa5","x":1072,"y":679,"wires":[]},{"id":"8cdfeff7.f415","type":"ui_button","z":"23c531f5.31ccae","name":"read voltage","group":"d52ccc8c.0c21e","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"read","payloadType":"str","topic":"","x":691,"y":677,"wires":[["deec7d80.94d3"]]},{"id":"c6e78285.be92e","type":"json","z":"23c531f5.31ccae","name":"","property":"payload","action":"","pretty":false,"x":293,"y":356,"wires":[["eaa00f6.1e8e4f"]]},{"id":"e0ebada8.fd6ad","type":"mqtt in","z":"23c531f5.31ccae","name":"","topic":"48vCharger/read_actual_voltage","qos":"2","broker":"1a201b45.af0aa5","x":242,"y":277,"wires":[["c6e78285.be92e"]]},{"id":"f402e4ed.410b08","type":"debug","z":"23c531f5.31ccae","name":"out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":966,"y":789,"wires":[]},{"id":"eaa00f6.1e8e4f","type":"function","z":"23c531f5.31ccae","name":"","func":"var msg0 = {payload: msg.payload[0]};\nmsg1 = {payload: msg.payload[1]};\nmsg2 = {payload: msg.payload[2]};\nmsg3 = {payload: msg.payload[3]};\nmsg4 = {payload: msg.payload[4]};\nmsg5 = {payload: msg.payload[5]};\nmsg6 = {payload: msg.payload[6]};\nmsg7 = {payload: msg.payload[7]};\nmsg8 = {payload: msg.payload[8]};\nmsg9 = {payload: msg.payload[9]};\nmsg10 = {payload: msg.payload[10]};\nmsg11 = {payload: msg.payload[11]};\nmsg12 = {payload: msg.payload[12]};\nmsg13 = {payload: msg.payload[13]};\nmsg14 = {payload: msg.payload[14]};\nmsg15 = {payload: msg.payload[15]};\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6,\nmsg7, msg8, msg9, msg10, msg11, msg12, msg13,\nmsg14, msg15];\n","outputs":16,"noerr":0,"x":482,"y":350,"wires":[["bc6de704.038148"],["e8f4779.8364388"],["50bdddc5.6d8bb4"],["f652ff50.ca42c"],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"bc6de704.038148","type":"ui_gauge","z":"23c531f5.31ccae","name":"","group":"d52ccc8c.0c21e","order":6,"width":"2","height":"2","gtype":"gage","title":"Cell 1","label":"Volts","format":"{{value}}","min":"0","max":"60","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"50","seg2":"56","x":627,"y":320,"wires":[]},{"id":"e8f4779.8364388","type":"ui_gauge","z":"23c531f5.31ccae","name":"","group":"d52ccc8c.0c21e","order":7,"width":"2","height":"2","gtype":"gage","title":"Cell 2","label":"Volts","format":"{{value}}","min":"0","max":"60","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"50","seg2":"56","x":626,"y":358,"wires":[]},{"id":"50bdddc5.6d8bb4","type":"ui_gauge","z":"23c531f5.31ccae","name":"","group":"d52ccc8c.0c21e","order":8,"width":"2","height":"2","gtype":"gage","title":"Cell 3","label":"Volts","format":"{{value}}","min":"0","max":"60","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"50","seg2":"56","x":626,"y":397,"wires":[]},{"id":"f652ff50.ca42c","type":"ui_gauge","z":"23c531f5.31ccae","name":"","group":"d52ccc8c.0c21e","order":9,"width":"2","height":"2","gtype":"gage","title":"Cell 4","label":"Volts","format":"{{value}}","min":"0","max":"60","colors":["#33b8e5","#00b500","#ca3838"],"seg1":"50","seg2":"56","x":627,"y":435,"wires":[]},{"id":"1d0251b6.9f249e","type":"mqtt out","z":"23c531f5.31ccae","name":"","topic":"48vCharger/set_current/send","qos":"","retain":"true","broker":"1a201b45.af0aa5","x":930,"y":132,"wires":[]},{"id":"43a62d7d.25c054","type":"ui_numeric","z":"23c531f5.31ccae","name":"","label":"Set Currrent","group":"d52ccc8c.0c21e","order":11,"width":"4","height":"1","passthru":false,"topic":"","format":"{{value}}","min":0,"max":"60","step":".1","x":655,"y":128,"wires":[["1d0251b6.9f249e"]]},{"id":"300214de.1c8c8c","type":"mqtt in","z":"23c531f5.31ccae","name":"","topic":"48vCharger/set_current/send","qos":"2","broker":"1a201b45.af0aa5","x":253,"y":120,"wires":[["43a62d7d.25c054"]]},{"id":"3efb62c6.e6bd6e","type":"switch","z":"23c531f5.31ccae","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":125,"y":631,"wires":[[]]},{"id":"271d2abc.0db916","type":"ui_switch","z":"23c531f5.31ccae","name":"","label":"read","group":"d52ccc8c.0c21e","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"read","onvalueType":"str","onicon":"","oncolor":"","offvalue":"","offvalueType":"str","officon":"","offcolor":"","x":702,"y":522,"wires":[["deec7d80.94d3","f402e4ed.410b08"]]},{"id":"8999914c.30c43","type":"inject","z":"23c531f5.31ccae","name":"","topic":"","payload":"read","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":726,"y":595,"wires":[["271d2abc.0db916"]]},{"id":"295d76a.0d2e98a","type":"switch","z":"23c531f5.31ccae","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":578,"wires":[[]]},{"id":"a53a7bdc.ad0018","type":"change","z":"23c531f5.31ccae","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":951,"y":553,"wires":[[]]},{"id":"34b0df99.0bcc8","type":"join","z":"23c531f5.31ccae","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":443,"y":646,"wires":[[]]}]